A:active {COLOR: #3333ff; TEXT-DECORATION: underline}
A:link {COLOR: #2C2CB2; TEXT-DECORATION: none}
A:visited {COLOR: #2C2CB2; TEXT-DECORATION: none}
A:hover {	COLOR: #ff3333; TEXT-DECORATION: underline}
BODY {			
				font-family:MS Sans Serif;font-size:14px;
				scrollbar-face-color:#9088B0;
}
TD {font-family:MS Sans Serif;font-size:14px;}

TEXTAREA {
	font-family:MS Sans Serif;font-size:12px;
}
.normal {font-family:MS Sans Serif;font-size:14px;}

#t32 {background-color:#FFFFFF; Color:#56426C;}
#table3 {background-color:#9088B0; font-weight:bold; Color:#FFFFFF;}
#table3b {background-color:#336699; font-weight:bold; Color:#FFFFFF;}
#table32 {background-color:#9088B0; Color:#FFFFFF;}

#table1 {background-color:#DDDDEE; Color:#000000;}


#w2 {background-color:#DBE1EE}

#w1 {background-color:#EAF0FD}
#w3 {background-color:#E4E4F0}

  
#admin {background-color:#FDEDD6; Color:#000000;}

#staff {background-color:#DFEDDB; Color:#000000;}
#staff2 {background-color:#C9DEC3; Color:#000000;}

