.rteImage {
	background: #D3D3D3;
	border: 1px solid #D3D3D3;
	cursor: pointer;
	cursor: hand;
}

.rteImageRaised {
	background: #D3D3D3;
	border: 1px outset;
	cursor: pointer;
	cursor: hand;
}

.rteImageLowered {
	background: #D3D3D3;
	border: 1px inset;
	cursor: pointer;
	cursor: hand;
}

.rteImageDisabled {
	background: #D3D3D3;
	border: 1px solid #D3D3D3;
	cursor: default;
}

.rteVertSep {
	margin: 0 4px 0 4px;
        cursor: default;
}

.rteBack {
	background: #D3D3D3;
	border-bottom: 1px solid #808080;
	letter-spacing: 0;
	padding: 4px;
}

.rteBack2 {
	background: #D3D3D3;
	border-top: 1px solid #FFFFFF;
	letter-spacing: 0;
	padding-bottom: 1px;
}
