Source: vtun
Section: non-US
Priority: optional
Maintainer: Greg Olszewski <noop@debian.org>
Build-Depends: debhelper, liblzo-dev, zlib1g-dev, libssl-dev, bison, flex
Standards-Version: 3.5.6.0

Package: vtun
Architecture: any
Depends: ${shlibs:Depends}, psmisc, debconf
Description: Virtual Tunnel over TCP/IP Networks
 VTun is the easiest way to create Virtual Tunnels over TCP/IP networks
 with traffic shaping, compression, and encryption. 
 .
 It supports IP, PPP, SLIP, Ethernet and other tunnel types.
 .
 VTun is easily and highly configurable, it can be used for various
 network tasks.
 .
 VTun requires the Universal TUN/TAP kernel module which can be found at
 http://vtun.sourceforge.net/tun/index.html or in the 2.4 series linux
 kernel.
