BODY  {background-image:URL(bg.gif);text-align:justify;font-family:MS SANS SERIF;color:#000000;margin-bottom:0; margin-top:0; font-size:10pt}
.Gen {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 14px; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.Genbold {
	FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.GenSmall {
	COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 9px
}
.menubar {
	COLOR: #ffffff; FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.textbox {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #0000ff; FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 9px; HEIGHT: 20px
}
.date {
	COLOR: #2e64b0; FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
TABLE {
	FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 14px
}
BODY {
	FONT-FAMILY: "MS Sans Serif"; FONT-SIZE: 12px
}
A.menubar:HOVER{font-size:10pt; color:#FF9933; text-decoration :none ;font-family:MS SANS SERIF;font-weight:bold}
A.menubar:ACTIVE{font-size:10pt; color:#FF9933; text-decoration :none ;font-family:MS SANS SERIF;font-weight:bold}
A.menubar:LINK{font-size:10pt; color:#FFFFFF; text-decoration :none ;font-family:MS SANS SERIF;font-weight:bold}
A.menubar:visited{font-family:MS SANS SERIF;font-size:10pt;text-decoration : none; color:#FFFFFF;font-weight:bold}	