a:link {
	color: #000000; font-size: smaller; text-decoration: none;
}
a:visited {
	color: #000000; font-size: smaller; text-decoration: none;
}
a:hover {
	color: #FF0000; font-size: smaller; text-decoration: underline;
}
a:active {
	color: #FF0000; font-size: smaller; text-decoration: underline;
}

.headTable {
	font-size: 12pt;
	font-weight: bold;
   color: White;
}

.normalFont {
	font-size: smaller;
	color: Black;
}
