/* Producer-generated file */
BODY
{
    COLOR:  #ffffff;
    FONT-FAMILY:Angsana New,Verdana,Arial;
    background-color: #ffffff;
}
#LeftSideBackground
{
    background-color: #879bb9;
}
#LoadingWaitDiv
{
    background-color: #879bb9;
}
.TOCEntryNormal
{
    FONT-SIZE: 14pt;
}
.TOCEntryNowPlaying
{
    FONT-SIZE: 14pt;
}
#DiscussionDiv
{
    FONT-SIZE: 14pt;
    background-color: #879bb9
}
