//! **************************************************************************
// Written by: Map H.38 on Mon Mar 20 11:31:19 2006
//! **************************************************************************

SCHEMATIC START;
NET "Clock24M_BUFGP/IBUFG" BEL "Clock24M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "ResetB_BUFGP/IBUFG" BEL "ResetB_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
