BODY {
	BACKGROUND-IMAGE: url(../images/back.jpg); FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
FONT {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
TH {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11pt; COLOR: #000000
}
TD {
	FONT-SIZE: 11pt; COLOR: #000000
}
A:link {
	COLOR: #800000
}
A:active {
	COLOR: #800000
}
A:visited {
	COLOR: #800000
}
A:hover {
	COLOR: #800000; TEXT-DECORATION: underline
}
HR {
	BORDER-RIGHT: #d1d7dc 0px solid; BORDER-TOP: #d1d7dc 1px solid; BORDER-LEFT: #d1d7dc 0px solid; BORDER-BOTTOM: #d1d7dc 0px solid; HEIGHT: 0px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gen {
	FONT-SIZE: 12px
}
.genmed {
	FONT-SIZE: 11px; FONT-FAMILY: "MS Sans Serif", Arial, Verdana, Helvetica, sans-serif
}
.gensmall {
	FONT-SIZE: 10px
}
.gen {
	COLOR: #004040
}
.genmed {
	COLOR: #004040
}
.gensmall {
	COLOR: #004040
}
A.gen {
	COLOR: #666666; TEXT-DECORATION: none
}
A.genmed {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gensmall {
	COLOR: #666666; TEXT-DECORATION: none
}
A.gen:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.genmed:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.gensmall:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.menulink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffee; TEXT-DECORATION: none
}
A.menulink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffee; TEXT-DECORATION: none
}
A.menulink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffee; TEXT-DECORATION: none
}
.highlight {
	COLOR: #ffffee
}
.menulink {
	FONT-SIZE: 10pt; COLOR: #ffffee; TEXT-DECORATION: none
}
.holder {
	FONT-SIZE: 9pt; Z-INDEX: 1; FONT-FAMILY: arial,verdana,helvetica; POSITION: absolute
}
.forumline {
	BORDER-RIGHT: #f2f2f2 2px solid; BORDER-TOP: #f2f2f2 2px solid; BORDER-LEFT: #f2f2f2 2px solid; BORDER-BOTTOM: #f2f2f2 2px solid; BACKGROUND-COLOR: #999999
}
TD.row1 {
	BACKGROUND-IMAGE: url(../images/back-drk-2.jpg); BACKGROUND-COLOR: #f2f2f2
}
TD.row2 {
	BACKGROUND-COLOR: #efefef
}
TD.row3 {
	BACKGROUND-COLOR: #e7e7e7
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/back-drk.jpg); COLOR: #800000; HEIGHT: 25px; BACKGROUND-COLOR: #666666
}
TD.cat {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BACKGROUND-IMAGE: url(../images/back-drk.jpg); BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; HEIGHT: 28px; BACKGROUND-COLOR: #e7e7e7
}
TD.catHead {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BACKGROUND-IMAGE: url(../images/back-drk.jpg); BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; HEIGHT: 28px; BACKGROUND-COLOR: #e7e7e7
}
TD.catSides {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BACKGROUND-IMAGE: url(../images/back-drk.jpg); BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; HEIGHT: 28px; BACKGROUND-COLOR: #e7e7e7
}
TD.catLeft {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BACKGROUND-IMAGE: url(../images/back-drk.jpg); BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; HEIGHT: 28px; BACKGROUND-COLOR: #e7e7e7
}
TD.catRight {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BACKGROUND-IMAGE: url(../images/back-drk.jpg); BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; HEIGHT: 28px; BACKGROUND-COLOR: #e7e7e7
}
TD.catBottom {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BACKGROUND-IMAGE: url(../images/back-drk.jpg); BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; HEIGHT: 28px; BACKGROUND-COLOR: #e7e7e7
}
TD.cat {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TD.catHead {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TD.catBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TH.thHead {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thSides {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thTop {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thLeft {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thRight {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thBottom {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thCornerL {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TH.thCornerR {
	BORDER-RIGHT: #999999 solid; BORDER-TOP: #999999 solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 solid; BORDER-BOTTOM: #999999 solid; HEIGHT: 28px
}
TD.row3Right {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; BACKGROUND-COLOR: #e7e7e7
}
TD.spaceRow {
	BORDER-RIGHT: #e7e7e7 solid; BORDER-TOP: #e7e7e7 solid; BORDER-LEFT: #e7e7e7 solid; BORDER-BOTTOM: #e7e7e7 solid; BACKGROUND-COLOR: #e7e7e7
}
TH.thHead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catHead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thSides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catSides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.spaceRow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.row3Right {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.catLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TD.catBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TH.thTop {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thCornerL {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thCornerR {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.cattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #800000; LETTER-SPACING: 1px
}
A.cattitle {
	COLOR: #666666; TEXT-DECORATION: none
}
A.cattitle:hover {
	TEXT-DECORATION: underline
}
.forumlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #800000
}
A.forumlink {
	COLOR: #666666; TEXT-DECORATION: none
}
A.forumlink:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #004040; BORDER-BOTTOM-COLOR: #004040; COLOR: #000000; BORDER-TOP-COLOR: #004040; FONT-FAMILY: "MS Sans Serif", Arial, Verdana, Helvetica, sans-serif; BORDER-RIGHT-COLOR: #004040
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #004040; BORDER-BOTTOM-COLOR: #004040; COLOR: #000000; BORDER-TOP-COLOR: #004040; FONT-FAMILY: "MS Sans Serif", Arial, Verdana, Helvetica, sans-serif; BORDER-RIGHT-COLOR: #004040
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #004040; BORDER-BOTTOM-COLOR: #004040; COLOR: #000000; BORDER-TOP-COLOR: #004040; FONT-FAMILY: "MS Sans Serif", Arial, Verdana, Helvetica, sans-serif; BORDER-RIGHT-COLOR: #004040
}
INPUT.post {
	BACKGROUND-COLOR: #ffffff
}
TEXTAREA.post {
	BACKGROUND-COLOR: #ffffff
}
SELECT {
	BACKGROUND-COLOR: #ffffff
}
INPUT {
	TEXT-INDENT: 2px
}
INPUT.button {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #006043
}
INPUT.mainoption {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fafafa
}
INPUT.liteoption {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fafafa
}
SELECT.liteoption {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fafafa
}
.input {
	WIDTH: 180px
}
.copyright {
	FONT-SIZE: 10px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px
}
A.copyright {
	COLOR: #444444; TEXT-DECORATION: none
}
A.copyright:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
