if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_ClassFee_AircraftClass]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[ClassFee] DROP CONSTRAINT FK_ClassFee_AircraftClass
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Seat_AircraftClass]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Seat] DROP CONSTRAINT FK_Seat_AircraftClass
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Flight_AircraftModel]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Flight] DROP CONSTRAINT FK_Flight_AircraftModel
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Seat_AircraftModel]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Seat] DROP CONSTRAINT FK_Seat_AircraftModel
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_ClassFee_Airline]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[ClassFee] DROP CONSTRAINT FK_ClassFee_Airline
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Flight_Airline]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Flight] DROP CONSTRAINT FK_Flight_Airline
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Subroute_Airport1]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Subroute] DROP CONSTRAINT FK_Subroute_Airport1
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Subroute_Airport2]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Subroute] DROP CONSTRAINT FK_Subroute_Airport2
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BookingDetail_Booking]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BookingDetail] DROP CONSTRAINT FK_BookingDetail_Booking
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_BookingDetail]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_BookingDetail
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Booking_Customer]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT FK_Booking_Customer
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BookingDetail_Flight]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BookingDetail] DROP CONSTRAINT FK_BookingDetail_Flight
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_FlightSchedule_Flight]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[FlightSchedule] DROP CONSTRAINT FK_FlightSchedule_Flight
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_Flight]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_Flight
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_FlightSchedule_Subroute]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[FlightSchedule] DROP CONSTRAINT FK_FlightSchedule_Subroute
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_Subroute]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_Subroute
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_Traveller]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_Traveller
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AircraftClass]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AircraftClass]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[AircraftModel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[AircraftModel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Airline]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Airline]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Airport]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Airport]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Booking]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Booking]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BookingDetail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BookingDetail]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ClassFee]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ClassFee]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Customer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Customer]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Flight]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Flight]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FlightSchedule]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[FlightSchedule]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Seat]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Seat]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SeatBooking]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SeatBooking]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Subroute]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Subroute]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Traveller]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Traveller]
GO

CREATE TABLE [dbo].[AircraftClass] (
	[ClassID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[ClassName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[AircraftModel] (
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[ModelName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[TotalSeat] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Airline] (
	[AirlineID] [nchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[AirlineName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Airport] (
	[AirportID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[AirportName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[City] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[State] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Country] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE Thai_CI_AS NULL ,
	[ImagePath] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Booking] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[TransactionID] [int] NULL ,
	[TransactionDate] [datetime] NOT NULL ,
	[CustomerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[Confirmation] [int] NOT NULL ,
	[ConfirmDeadline] [datetime] NULL ,
	[Obsoleted] [bit] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[BookingDetail] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[ItemNo] [int] NOT NULL ,
	[FlightID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[DepartDate] [datetime] NULL ,
	[Price] [float] NOT NULL ,
	[SrcIdx] [int] NOT NULL ,
	[DesIdx] [int] NOT NULL ,
	[TotalSeat] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ClassFee] (
	[ClassID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[AirlineID] [nchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[PricePerKm] [float] NOT NULL ,
	[Fee] [float] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Customer] (
	[CustomerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[FirstName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[LastName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Gender] [char] (1) COLLATE Thai_CI_AS NULL ,
	[Address] [nvarchar] (200) COLLATE Thai_CI_AS NULL ,
	[Telephone] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[EmailAddress] [nvarchar] (50) COLLATE Thai_CI_AS NOT NULL ,
	[Password] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Agency] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Flight] (
	[FlightID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[Description] [char] (200) COLLATE Thai_CI_AS NULL ,
	[AirlineID] [nchar] (2) COLLATE Thai_CI_AS NULL ,
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NULL ,
	[FlightDay] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[FlightSchedule] (
	[FlightID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[SubrouteID] [int] NOT NULL ,
	[ArriveTime] [datetime] NULL ,
	[DepartTime] [datetime] NULL ,
	[DepartDay] [int] NULL ,
	[ArriveDay] [int] NULL ,
	[Idx] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Seat] (
	[SeatNo] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[Smoking] [bit] NOT NULL ,
	[Window] [bit] NOT NULL ,
	[ClassID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SeatBooking] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[ItemNo] [int] NOT NULL ,
	[FlightID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[SubRouteID] [int] NOT NULL ,
	[SeatNo] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[DepartDate] [datetime] NOT NULL ,
	[TravellerID] [nchar] (40) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Subroute] (
	[SubrouteID] [int] NOT NULL ,
	[Distance] [float] NULL ,
	[AirportID1] [nchar] (3) COLLATE Thai_CI_AS NULL ,
	[AirportID2] [nchar] (3) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Traveller] (
	[TravellerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[FirstName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[LastName] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AircraftClass] WITH NOCHECK ADD 
	CONSTRAINT [PK_AircraftClass] PRIMARY KEY  CLUSTERED 
	(
		[ClassID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[AircraftModel] WITH NOCHECK ADD 
	CONSTRAINT [PK_AircraftModel] PRIMARY KEY  CLUSTERED 
	(
		[ModelID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Airline] WITH NOCHECK ADD 
	CONSTRAINT [PK_Airline] PRIMARY KEY  CLUSTERED 
	(
		[AirlineID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Airport] WITH NOCHECK ADD 
	CONSTRAINT [PK_Airport] PRIMARY KEY  CLUSTERED 
	(
		[AirportID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Booking] WITH NOCHECK ADD 
	CONSTRAINT [PK_Booking] PRIMARY KEY  CLUSTERED 
	(
		[BookingID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BookingDetail] WITH NOCHECK ADD 
	CONSTRAINT [PK_BookingDetail] PRIMARY KEY  CLUSTERED 
	(
		[BookingID],
		[ItemNo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ClassFee] WITH NOCHECK ADD 
	CONSTRAINT [PK_ClassFee] PRIMARY KEY  CLUSTERED 
	(
		[ClassID],
		[AirlineID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Customer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Customer] PRIMARY KEY  CLUSTERED 
	(
		[CustomerID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Flight] WITH NOCHECK ADD 
	CONSTRAINT [PK_Flight] PRIMARY KEY  CLUSTERED 
	(
		[FlightID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[FlightSchedule] WITH NOCHECK ADD 
	CONSTRAINT [PK_FlightSchedule] PRIMARY KEY  CLUSTERED 
	(
		[FlightID],
		[SubrouteID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Seat] WITH NOCHECK ADD 
	CONSTRAINT [PK_Seat] PRIMARY KEY  CLUSTERED 
	(
		[SeatNo],
		[ModelID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[SeatBooking] WITH NOCHECK ADD 
	CONSTRAINT [PK_SeatBooking] PRIMARY KEY  CLUSTERED 
	(
		[FlightID],
		[SubRouteID],
		[SeatNo],
		[DepartDate]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Subroute] WITH NOCHECK ADD 
	CONSTRAINT [PK_Subroute] PRIMARY KEY  CLUSTERED 
	(
		[SubrouteID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Traveller] WITH NOCHECK ADD 
	CONSTRAINT [PK_Traveller] PRIMARY KEY  CLUSTERED 
	(
		[TravellerID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Booking] ADD 
	CONSTRAINT [FK_Booking_Customer] FOREIGN KEY 
	(
		[CustomerID]
	) REFERENCES [dbo].[Customer] (
		[CustomerID]
	)
GO

ALTER TABLE [dbo].[BookingDetail] ADD 
	CONSTRAINT [FK_BookingDetail_Booking] FOREIGN KEY 
	(
		[BookingID]
	) REFERENCES [dbo].[Booking] (
		[BookingID]
	),
	CONSTRAINT [FK_BookingDetail_Flight] FOREIGN KEY 
	(
		[FlightID]
	) REFERENCES [dbo].[Flight] (
		[FlightID]
	)
GO

ALTER TABLE [dbo].[ClassFee] ADD 
	CONSTRAINT [FK_ClassFee_AircraftClass] FOREIGN KEY 
	(
		[ClassID]
	) REFERENCES [dbo].[AircraftClass] (
		[ClassID]
	),
	CONSTRAINT [FK_ClassFee_Airline] FOREIGN KEY 
	(
		[AirlineID]
	) REFERENCES [dbo].[Airline] (
		[AirlineID]
	)
GO

ALTER TABLE [dbo].[Flight] ADD 
	CONSTRAINT [FK_Flight_AircraftModel] FOREIGN KEY 
	(
		[ModelID]
	) REFERENCES [dbo].[AircraftModel] (
		[ModelID]
	),
	CONSTRAINT [FK_Flight_Airline] FOREIGN KEY 
	(
		[AirlineID]
	) REFERENCES [dbo].[Airline] (
		[AirlineID]
	)
GO

ALTER TABLE [dbo].[FlightSchedule] ADD 
	CONSTRAINT [FK_FlightSchedule_Flight] FOREIGN KEY 
	(
		[FlightID]
	) REFERENCES [dbo].[Flight] (
		[FlightID]
	),
	CONSTRAINT [FK_FlightSchedule_Subroute] FOREIGN KEY 
	(
		[SubrouteID]
	) REFERENCES [dbo].[Subroute] (
		[SubrouteID]
	)
GO

ALTER TABLE [dbo].[Seat] ADD 
	CONSTRAINT [FK_Seat_AircraftClass] FOREIGN KEY 
	(
		[ClassID]
	) REFERENCES [dbo].[AircraftClass] (
		[ClassID]
	),
	CONSTRAINT [FK_Seat_AircraftModel] FOREIGN KEY 
	(
		[ModelID]
	) REFERENCES [dbo].[AircraftModel] (
		[ModelID]
	)
GO

ALTER TABLE [dbo].[SeatBooking] ADD 
	CONSTRAINT [FK_SeatBooking_BookingDetail] FOREIGN KEY 
	(
		[BookingID],
		[ItemNo]
	) REFERENCES [dbo].[BookingDetail] (
		[BookingID],
		[ItemNo]
	),
	CONSTRAINT [FK_SeatBooking_Flight] FOREIGN KEY 
	(
		[FlightID]
	) REFERENCES [dbo].[Flight] (
		[FlightID]
	),
	CONSTRAINT [FK_SeatBooking_Subroute] FOREIGN KEY 
	(
		[SubRouteID]
	) REFERENCES [dbo].[Subroute] (
		[SubrouteID]
	),
	CONSTRAINT [FK_SeatBooking_Traveller] FOREIGN KEY 
	(
		[TravellerID]
	) REFERENCES [dbo].[Traveller] (
		[TravellerID]
	)
GO

ALTER TABLE [dbo].[Subroute] ADD 
	CONSTRAINT [FK_Subroute_Airport1] FOREIGN KEY 
	(
		[AirportID1]
	) REFERENCES [dbo].[Airport] (
		[AirportID]
	),
	CONSTRAINT [FK_Subroute_Airport2] FOREIGN KEY 
	(
		[AirportID2]
	) REFERENCES [dbo].[Airport] (
		[AirportID]
	)
GO

