if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BookingDetail_Booking]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BookingDetail] DROP CONSTRAINT FK_BookingDetail_Booking
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BusRenting_Booking]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BusRenting] DROP CONSTRAINT FK_BusRenting_Booking
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_BookingDetail]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_BookingDetail
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BusRenting_Bus]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BusRenting] DROP CONSTRAINT FK_BusRenting_Bus
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Bus_BusModel]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Bus] DROP CONSTRAINT FK_Bus_BusModel
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BusFee_BusModel]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BusFee] DROP CONSTRAINT FK_BusFee_BusModel
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Seat_BusModel]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Seat] DROP CONSTRAINT FK_Seat_BusModel
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Bus_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Bus] DROP CONSTRAINT FK_Bus_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BusFee_Company]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BusFee] DROP CONSTRAINT FK_BusFee_Company
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Booking_Customer]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT FK_Booking_Customer
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BookingDetail_Route]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BookingDetail] DROP CONSTRAINT FK_BookingDetail_Route
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BusSchedule_Route]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BusSchedule] DROP CONSTRAINT FK_BusSchedule_Route
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_Route]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_Route
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Subroute_Station]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Subroute] DROP CONSTRAINT FK_Subroute_Station
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Subroute_Station1]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Subroute] DROP CONSTRAINT FK_Subroute_Station1
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_BusSchedule_Subroute]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[BusSchedule] DROP CONSTRAINT FK_BusSchedule_Subroute
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_Subroute]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_Subroute
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_SeatBooking_Traveller]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SeatBooking] DROP CONSTRAINT FK_SeatBooking_Traveller
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Booking]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Booking]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BookingDetail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BookingDetail]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Bus]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Bus]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BusFee]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BusFee]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BusModel]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BusModel]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BusRenting]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BusRenting]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[BusSchedule]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[BusSchedule]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Company]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Company]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Customer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Customer]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Route]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Route]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Seat]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Seat]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SeatBooking]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SeatBooking]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Station]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Station]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Subroute]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Subroute]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Traveller]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Traveller]
GO

CREATE TABLE [dbo].[Booking] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[TransactionID] [int] NULL ,
	[TransactionDate] [datetime] NOT NULL ,
	[CustomerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[Confirmation] [int] NOT NULL ,
	[ConfirmDeadline] [datetime] NULL ,
	[Obsoleted] [bit] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[BookingDetail] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[ItemNo] [int] NOT NULL ,
	[RouteID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[DepartDate] [datetime] NULL ,
	[Price] [float] NOT NULL ,
	[SrcIdx] [int] NOT NULL ,
	[DesIdx] [int] NOT NULL ,
	[TotalSeat] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Bus] (
	[BusID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[CompanyID] [nchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[ForRent] [bit] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[BusFee] (
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[CompanyID] [nchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[PricePerKm] [float] NOT NULL ,
	[Fee] [float] NOT NULL ,
	[RentCost] [float] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[BusModel] (
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[ModelName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[TotalSeat] [int] NOT NULL ,
	[Description] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Toilet] [bit] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[BusRenting] (
	[UsingDate] [smalldatetime] NOT NULL ,
	[BusID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NULL ,
	[Price] [float] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[BusSchedule] (
	[RouteID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[SubrouteID] [int] NOT NULL ,
	[ArriveTime] [datetime] NULL ,
	[DepartTime] [datetime] NULL ,
	[DepartDay] [int] NULL ,
	[ArriveDay] [int] NULL ,
	[Idx] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Company] (
	[CompanyID] [nchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[CompanyName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Customer] (
	[CustomerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[FirstName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[LastName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Gender] [char] (1) COLLATE Thai_CI_AS NULL ,
	[Address] [nvarchar] (200) COLLATE Thai_CI_AS NULL ,
	[Telephone] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[EmailAddress] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Password] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Agency] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Route] (
	[RouteID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[Description] [char] (200) COLLATE Thai_CI_AS NULL ,
	[CompanyID] [nchar] (2) COLLATE Thai_CI_AS NULL ,
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Seat] (
	[SeatNo] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[ModelID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[Smoking] [bit] NOT NULL ,
	[Window] [bit] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SeatBooking] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[ItemNo] [int] NOT NULL ,
	[RouteID] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[SubRouteID] [int] NOT NULL ,
	[SeatNo] [nchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[DepartDate] [datetime] NOT NULL ,
	[TravellerID] [nchar] (40) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Station] (
	[StationID] [nchar] (3) COLLATE Thai_CI_AS NOT NULL ,
	[StationName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[City] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[State] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Country] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Description] [nvarchar] (200) COLLATE Thai_CI_AS NULL ,
	[ImagePath] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Subroute] (
	[SubrouteID] [int] NOT NULL ,
	[Distance] [float] NULL ,
	[StationID1] [nchar] (3) COLLATE Thai_CI_AS NULL ,
	[StationID2] [nchar] (3) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Traveller] (
	[TravellerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[FirstName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[LastName] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Booking] WITH NOCHECK ADD 
	CONSTRAINT [PK_Booking] PRIMARY KEY  CLUSTERED 
	(
		[BookingID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BookingDetail] WITH NOCHECK ADD 
	CONSTRAINT [PK_BookingDetail] PRIMARY KEY  CLUSTERED 
	(
		[BookingID],
		[ItemNo]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Bus] WITH NOCHECK ADD 
	CONSTRAINT [PK_Bus] PRIMARY KEY  CLUSTERED 
	(
		[BusID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BusFee] WITH NOCHECK ADD 
	CONSTRAINT [PK_ClassFee] PRIMARY KEY  CLUSTERED 
	(
		[ModelID],
		[CompanyID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BusModel] WITH NOCHECK ADD 
	CONSTRAINT [PK_AircraftModel] PRIMARY KEY  CLUSTERED 
	(
		[ModelID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BusRenting] WITH NOCHECK ADD 
	CONSTRAINT [PK_BusRenting] PRIMARY KEY  CLUSTERED 
	(
		[UsingDate],
		[BusID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BusSchedule] WITH NOCHECK ADD 
	CONSTRAINT [PK_FlightSchedule] PRIMARY KEY  CLUSTERED 
	(
		[RouteID],
		[SubrouteID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Company] WITH NOCHECK ADD 
	CONSTRAINT [PK_Airline] PRIMARY KEY  CLUSTERED 
	(
		[CompanyID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Customer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Customer] PRIMARY KEY  CLUSTERED 
	(
		[CustomerID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Route] WITH NOCHECK ADD 
	CONSTRAINT [PK_Flight] PRIMARY KEY  CLUSTERED 
	(
		[RouteID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Seat] WITH NOCHECK ADD 
	CONSTRAINT [PK_Seat] PRIMARY KEY  CLUSTERED 
	(
		[SeatNo],
		[ModelID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[SeatBooking] WITH NOCHECK ADD 
	CONSTRAINT [PK_SeatBooking] PRIMARY KEY  CLUSTERED 
	(
		[RouteID],
		[SubRouteID],
		[SeatNo],
		[DepartDate]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Station] WITH NOCHECK ADD 
	CONSTRAINT [PK_Airport] PRIMARY KEY  CLUSTERED 
	(
		[StationID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Subroute] WITH NOCHECK ADD 
	CONSTRAINT [PK_Subroute] PRIMARY KEY  CLUSTERED 
	(
		[SubrouteID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Traveller] WITH NOCHECK ADD 
	CONSTRAINT [PK_Traveller] PRIMARY KEY  CLUSTERED 
	(
		[TravellerID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[BusModel] WITH NOCHECK ADD 
	CONSTRAINT [DF_BusModel_TotalSeat] DEFAULT (0) FOR [TotalSeat],
	CONSTRAINT [DF_BusModel_Toilet] DEFAULT (0) FOR [Toilet]
GO

ALTER TABLE [dbo].[BusRenting] WITH NOCHECK ADD 
	CONSTRAINT [DF_BusRenting_Price] DEFAULT (0) FOR [Price]
GO

ALTER TABLE [dbo].[Booking] ADD 
	CONSTRAINT [FK_Booking_Customer] FOREIGN KEY 
	(
		[CustomerID]
	) REFERENCES [dbo].[Customer] (
		[CustomerID]
	)
GO

ALTER TABLE [dbo].[BookingDetail] ADD 
	CONSTRAINT [FK_BookingDetail_Booking] FOREIGN KEY 
	(
		[BookingID]
	) REFERENCES [dbo].[Booking] (
		[BookingID]
	),
	CONSTRAINT [FK_BookingDetail_Route] FOREIGN KEY 
	(
		[RouteID]
	) REFERENCES [dbo].[Route] (
		[RouteID]
	)
GO

ALTER TABLE [dbo].[Bus] ADD 
	CONSTRAINT [FK_Bus_BusModel] FOREIGN KEY 
	(
		[ModelID]
	) REFERENCES [dbo].[BusModel] (
		[ModelID]
	),
	CONSTRAINT [FK_Bus_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[Company] (
		[CompanyID]
	)
GO

ALTER TABLE [dbo].[BusFee] ADD 
	CONSTRAINT [FK_BusFee_BusModel] FOREIGN KEY 
	(
		[ModelID]
	) REFERENCES [dbo].[BusModel] (
		[ModelID]
	),
	CONSTRAINT [FK_BusFee_Company] FOREIGN KEY 
	(
		[CompanyID]
	) REFERENCES [dbo].[Company] (
		[CompanyID]
	)
GO

ALTER TABLE [dbo].[BusRenting] ADD 
	CONSTRAINT [FK_BusRenting_Booking] FOREIGN KEY 
	(
		[BookingID]
	) REFERENCES [dbo].[Booking] (
		[BookingID]
	),
	CONSTRAINT [FK_BusRenting_Bus] FOREIGN KEY 
	(
		[BusID]
	) REFERENCES [dbo].[Bus] (
		[BusID]
	)
GO

ALTER TABLE [dbo].[BusSchedule] ADD 
	CONSTRAINT [FK_BusSchedule_Route] FOREIGN KEY 
	(
		[RouteID]
	) REFERENCES [dbo].[Route] (
		[RouteID]
	),
	CONSTRAINT [FK_BusSchedule_Subroute] FOREIGN KEY 
	(
		[SubrouteID]
	) REFERENCES [dbo].[Subroute] (
		[SubrouteID]
	)
GO

ALTER TABLE [dbo].[Seat] ADD 
	CONSTRAINT [FK_Seat_BusModel] FOREIGN KEY 
	(
		[ModelID]
	) REFERENCES [dbo].[BusModel] (
		[ModelID]
	)
GO

ALTER TABLE [dbo].[SeatBooking] ADD 
	CONSTRAINT [FK_SeatBooking_BookingDetail] FOREIGN KEY 
	(
		[BookingID],
		[ItemNo]
	) REFERENCES [dbo].[BookingDetail] (
		[BookingID],
		[ItemNo]
	),
	CONSTRAINT [FK_SeatBooking_Route] FOREIGN KEY 
	(
		[RouteID]
	) REFERENCES [dbo].[Route] (
		[RouteID]
	),
	CONSTRAINT [FK_SeatBooking_Subroute] FOREIGN KEY 
	(
		[SubRouteID]
	) REFERENCES [dbo].[Subroute] (
		[SubrouteID]
	),
	CONSTRAINT [FK_SeatBooking_Traveller] FOREIGN KEY 
	(
		[TravellerID]
	) REFERENCES [dbo].[Traveller] (
		[TravellerID]
	)
GO

ALTER TABLE [dbo].[Subroute] ADD 
	CONSTRAINT [FK_Subroute_Station] FOREIGN KEY 
	(
		[StationID1]
	) REFERENCES [dbo].[Station] (
		[StationID]
	),
	CONSTRAINT [FK_Subroute_Station1] FOREIGN KEY 
	(
		[StationID2]
	) REFERENCES [dbo].[Station] (
		[StationID]
	)
GO

