if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Booking_Customer]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT FK_Booking_Customer
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Booking]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Booking]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Customer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Customer]
GO

CREATE TABLE [dbo].[Booking] (
	[BookingID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[AirlineBookingID] [nchar] (40) COLLATE Thai_CI_AS NULL ,
	[HotelBookingID] [int] NULL ,
	[CustomerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[Confirmation] [int] NOT NULL ,
	[ConfirmDeadline] [datetime] NULL ,
	[Obsoleted] [bit] NOT NULL ,
	[TransactionID] [int] NULL ,
	[TransactionDate] [datetime] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Customer] (
	[CustomerID] [nchar] (40) COLLATE Thai_CI_AS NOT NULL ,
	[FirstName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[LastName] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Gender] [char] (1) COLLATE Thai_CI_AS NULL ,
	[Address] [nvarchar] (200) COLLATE Thai_CI_AS NULL ,
	[Telephone] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[EmailAddress] [nvarchar] (50) COLLATE Thai_CI_AS NOT NULL ,
	[Password] [nvarchar] (50) COLLATE Thai_CI_AS NULL ,
	[Agency] [bit] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Booking] WITH NOCHECK ADD 
	CONSTRAINT [PK_Booking] PRIMARY KEY  CLUSTERED 
	(
		[BookingID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Customer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Customer] PRIMARY KEY  CLUSTERED 
	(
		[CustomerID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Booking] WITH NOCHECK ADD 
	CONSTRAINT [DF_Booking_Confirmation] DEFAULT (0) FOR [Confirmation]
GO

 CREATE  INDEX [IX_Customer] ON [dbo].[Customer]([CustomerID]) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Booking] ADD 
	CONSTRAINT [FK_Booking_Customer] FOREIGN KEY 
	(
		[CustomerID]
	) REFERENCES [dbo].[Customer] (
		[CustomerID]
	)
GO

