TD.topics {BORDER-TOP: #3366FF 1px solid; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR:#578CF3;}
TD.topics A:link {PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #FFFFFF; LINE-HEIGHT: 15px; text-decoration: none}
TD.topics A:hover {COLOR: #FFFFFF; BACKGROUND-COLOR:#33CCFF; text-decoration: none}
TD.topics A:visited {PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #FFFFFF; LINE-HEIGHT: 15px; text-decoration: none}
table { font-family: "ms sans serif"; font-size: 14px;}
body { font-family: "ms sans serif"; font-size: 14px;} 
a:link {color:#3333FF; text-decoration: underline;}
a:active {color:#FE7474; text-decoration: underline;}

a:visited {color:#777777; text-decoration: underline;}