body	{
	font-style: "MS Sans Serif", "Tahoma"; 
	font-size:	"10pt";
	color:	"#000000";
   	scrollbar-arrow-color: "#3871a9";
   	scrollbar-face-color: "#99ccff";
   	scrollbar-shadow-color: "#3871a9";
   	scrollbar-darkshadow-color: "#ffffff";
   	scrollbar-highlight-color: "#3871a9";
   	scrollbar-3dlight-color: "#ffffff";
   	scrollbar-track-color: "#ffffff";
	}

td	{
	font-style: "MS Sans Serif", "Tahoma"; 
	font-size: "10pt";
	color: "#000000";
	}

a:link {color:"#3871a9"; text-decoration: underline}
a:active {color:"#3399ff"; text-decoration: underline}
a:visited {color:"#3871a9"; text-decoration: underline}
a:hover {COLOR:"#3399ff"; text-decoration: underline}
