A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003399; TEXT-DECORATION: none
}
.tab1 {
	WIDTH: 100%; TEXT-ALIGN: center
}
.tab2 {
	WIDTH: 100%; HEIGHT: 100%; TEXT-ALIGN: center
}
.tr1 {
	VERTICAL-ALIGN: top
}
.td1 {
	VERTICAL-ALIGN: top; HEIGHT: 100%; TEXT-ALIGN: left
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #efefef; SCROLLBAR-SHADOW-COLOR: #444444; SCROLLBAR-3DLIGHT-COLOR: #444444; SCROLLBAR-ARROW-COLOR: #000000; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #6699cc; BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
DIV {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
BR {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
P {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
FONT {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
TABLE {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
TR {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
TD {
	FONT-SIZE: 15px; FONT-FAMILY: Ms sans serif,arial,sans-serif
}
.formInput {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Ms Sans serif
}
.formInputFile {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "MS Sans Serif"
}
.formInputDisabled {
	BORDER-RIGHT: #000000 1px; BORDER-TOP: #000000 1px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px; BORDER-BOTTOM: #000000 1px; FONT-STYLE: normal; FONT-FAMILY: Ms Sans serif; BACKGROUND-COLOR: #f2f2f2
}
.formButton {
	BORDER-RIGHT: #000000 1px groove; BORDER-TOP: #000000 1px groove; FONT-WEIGHT: bold; FONT-SIZE: 8px; BORDER-LEFT: #000000 1px groove; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #000000 1px groove; FONT-FAMILY: "MS Sans Serif", AngsanaUPC, Arial, "Arial Black"; BACKGROUND-COLOR: #f2f1f1
}
.formButtonDisabled {
	BORDER-RIGHT: #000000 1px groove; BORDER-TOP: #c0c0c0 1px groove; FONT-WEIGHT: bold; FONT-SIZE: 8px; BORDER-LEFT: #000000 1px groove; COLOR: #c0c0c0; BORDER-BOTTOM: #000000 1px groove; FONT-FAMILY: "MS Sans Serif", AngsanaUPC, Arial, "Arial Black"; BACKGROUND-COLOR: #f2f1f1
}
.formButtonNextPrev {
	BORDER-RIGHT: #000000 1px groove; BORDER-TOP: #000000 1px groove; FONT-WEIGHT: bold; FONT-SIZE: 6pt; BORDER-LEFT: #000000 1px groove; WIDTH: 100px; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #000000 1px groove; FONT-FAMILY: "MS Sans Serif", AngsanaUPC, Arial, "Arial Black"; BACKGROUND-COLOR: #f2f1f1
}
.table100BorderColor {
	WIDTH: 100%; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.table90BorderColor {
	WIDTH: 90%; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.table60BorderColor {
	WIDTH: 60%; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.table100NoBorder {
	WIDTH: 100%; TEXT-ALIGN: center
}
.table90NoBorder {
	WIDTH: 90%; TEXT-ALIGN: center
}
.table60NoBorder {
	WIDTH: 60%; TEXT-ALIGN: center
}
.tdBgHead {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; BACKGROUND-COLOR: #6983bd; TEXT-ALIGN: center
}
.tdBgHead2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: center
}
.tdBgHead_MenuCourse {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; BACKGROUND-COLOR: #6983bd; TEXT-ALIGN: center
}
.tdBgDetail {
	COLOR: black; BACKGROUND-COLOR: #efefef
}
#tdBgDetail_onmouseover {
	COLOR: black; BACKGROUND-COLOR: #d8e3ef
}
#tdBgDetail_onmouseout {
	COLOR: black; BACKGROUND-COLOR: #efefef
}
.tdBgNoDetail {
	COLOR: black; BACKGROUND-COLOR: #efefef
}
.lessonHead {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; BACKGROUND-COLOR: #4c4f58; TEXT-ALIGN: center
}
.lessonBgEver {
	COLOR: black; BACKGROUND-COLOR: #90bcde
}
.lessonBgNever {
	COLOR: black; BACKGROUND-COLOR: #efefef
}
.tdTextHead {
	FONT-SIZE: 16px; COLOR: black; TEXT-ALIGN: center
}
.tdTextErrorHead {
	FONT-SIZE: 16px; COLOR: #cc0033; TEXT-ALIGN: center
}
.tdTextWarning {
	FONT-SIZE: 15px; COLOR: #ff6600; TEXT-ALIGN: center
}
.tdTextDetail {
	COLOR: #00008b
}
.textAssType {
	FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: Ms Sans serif
}
.textWaiting {
	FONT-SIZE: 15px; COLOR: #237a2c; FONT-FAMILY: Ms Sans serif
}
.textIncomplete {
	FONT-SIZE: 15px; COLOR: #cc0033; FONT-FAMILY: Ms Sans serif
}
.textAnswer {
	FONT-SIZE: 15px; COLOR: #cc0033; FONT-FAMILY: Ms Sans serif
}
.textDisable {
	COLOR: #cc0033; BACKGROUND-COLOR: #cccccc
}
.textRequire {
	FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Ms Sans serif
}
.textSmall15Normal {
	FONT-SIZE: 12px; FONT-FAMILY: Ms Sans serif
}
.textSmall15Bold {
	FONT-SIZE: 12px; FONT-FAMILY: Ms Sans serif
}
.text15WithBg1 {
	FONT-SIZE: 15px; COLOR: #ffffd5; BACKGROUND-COLOR: #6983bd; TEXT-ALIGN: center
}
.fontColor1 {
	COLOR: #cc0033
}
.fontColor2 {
	
}
.fontColor3 {
	COLOR: #ffffcc
}
.fontColor4 {
	COLOR: #808000
}
.fontColor5 {
	COLOR: #ffffd5
}
.textHead1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black
}
.textHead2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3e5c9c
}
.left {
	TEXT-ALIGN: left
}
.center {
	TEXT-ALIGN: center
}
.right {
	TEXT-ALIGN: right
}
.bold {
	FONT-WEIGHT: bold
}
.folding {
	CURSOR: hand
}
.regHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; WIDTH: 90%; COLOR: #ffffff; FONT-FAMILY: Ms Sans serif; HEIGHT: 25px; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center
}
.regDesc {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; COLOR: #000000; FONT-FAMILY: MS Sans Serif,verdana
}
.regBgFieldReq {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: MS Sans Serif,verdana; HEIGHT: 20px; BACKGROUND-COLOR: #6983bd
}
.regBgFieldNoReq {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: MS Sans Serif,verdana; HEIGHT: 25px; BACKGROUND-COLOR: #efefef
}
.regFontColor1 {
	COLOR: #7ec1f0
}
.headBarRight {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; WIDTH: 100%; COLOR: #ffffff; FONT-FAMILY: Ms Sans serif; HEIGHT: 20px; BACKGROUND-COLOR: #6983bd; TEXT-ALIGN: right
}
.mainMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 8px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: "MS Sans Serif", AngsanaUPC, Arial, "Arial Black"; BACKGROUND-COLOR: #f2f1f1
}
.currentChapter {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #6983bd
}
.chatBg {
	BACKGROUND-COLOR: #6983bd
}
.titleHead {
	COLOR: #000000
}
.disablespan {
	BORDER-RIGHT: #ff0000 3px solid; BORDER-TOP: #ff0000 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 100px; FILTER: Alpha(Opacity=25); LEFT: 300px; BORDER-LEFT: #ff0000 3px solid; WIDTH: 400px; COLOR: #ff0000; BORDER-BOTTOM: #ff0000 3px solid; FONT-FAMILY: Impact; POSITION: absolute; TOP: 200px; TEXT-ALIGN: center
}
