body	{

   	scrollbar-arrow-color: "#FF6600";
   	scrollbar-face-color: "#000000";
   	scrollbar-shadow-color: "#99ccff";
   	scrollbar-darkshadow-color: "#000000";
   	scrollbar-highlight-color: "#99ccff";
   	scrollbar-3dlight-color: "#000000";
   	scrollbar-track-color: "#000000";
	}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #c1d6ea; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px;COLOR: #c1d6ea; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #c1d6ea; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #c1d6ea; TEXT-DECORATION: none
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; TEXT-DECORATION: none
}