input, select {
	color : #000000;
	font-size : 12px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: normal;
}
div {
	margin-top : 0px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.px {
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 2px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.px5 {
	padding-top : 5px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	margin-top : 5px;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
}
.menu01 {
	color : #707070;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
	text-align: center;
}
.menu01 a {
	color : #707070;
	text-decoration: none;
}
.menu01 a:hover {
	color : #333333;
}
.menu02 {
	color : #FFFFFF;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
	text-align: center;
}
.menu02 a {
	color : #FFFFFF;
	text-decoration: none;
}
.menu02 a:hover {
	color : #F2F2F2;
}
.menu03 {
	color : #000000;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
	text-align: left;
}
.menu03 a {
	color : #eeeeee;
	text-decoration: none;
}
.menu03 a:hover {
	color : #333333;
}
.title {
	color : #D44409;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 10px;
	margin-bottom : 5px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.right a {
	color : #EF6D00;
}
.right a:hover {
	color : #000000;
}
li {
	color : #000000;
	margin-top : -1px;
	padding-bottom : -1px;
	margin-bottom : -1px;
	margin-right : 1px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
ul, ol {
	color : #000000;
	margin-top : 0px;
	padding-bottom : 0px;
	margin-bottom : 0px;
	margin-right : 0px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
p {
	color : #000000;
	margin-top : 5px;
	padding-bottom : 5px;
	margin-bottom : 0px;
	margin-left : 10px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
}
p a {
	color : #990000;
}
p a:hover {
	color : #000000;
}
.bot {
	color : #000000;
	margin-top : 20px;
	padding-bottom : 10px;
	margin-bottom : 0px;
	margin-left : 200px;
	margin-right : 10px;
	font-size : 11px;
	font-family : Tahoma,Verdana,Arial;
	font-weight: bold;
}
.bot a {
	color : #000000;
	text-decoration: none;
}
.bot a:hover {
	color : #FFFFFF;
}

a:link {
	color : #ffffff;
	text-decoration: none;
}
a:hover {
	color : #990000;
	text-decoration: none;
}
a:visited {
	color : #ffffff;
	text-decoration: none;
}
.style4 {
font-weight: normal;
color : #000000;
font-size: 12px
}

.style8 {
	color: #FFFFFF;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial;
}
