/* WMxxx tags store data to describe this file */

#WMTemplate
{
	WMName: "";
	WMDesc: "";
}
BODY
{
	COLOR: #000000;
    	FONT-FAMILY: Verdana;
    	BACKGROUND-COLOR: #FFFFFF;
}
#DiscussionDiv
{
	BACKGROUND-COLOR: #FFFFFF;
}
#HTML1Div
{
	DISPLAY: none;
	TOP: 0px;
	LEFT: 0px;
	HEIGHT: 0px;
	WIDTH: 0px;
}
#HTML1Frame
{
	HEIGHT: 0px;
	WIDTH: 0px;
}
#LeftSideBackground
{
	POSITION: absolute;
	TOP: 0px;
	LEFT: 0px;
	HEIGHT: 580px;
	WIDTH: 980px;
	BACKGROUND-COLOR: transparent;
}
#LoadingWaitDiv
{
	BACKGROUND-COLOR: #C4D4D0;
}
#MainDiv
{
	POSITION: absolute;
	TOP: 0px;
	LEFT: 0px;
	HEIGHT: 580px;
	WIDTH: 980px;
	BACKGROUND-COLOR: transparent;
}
#MediaPlayer
{
	HEIGHT: 219px;
	WIDTH: 228px;
}
#MediaPlayerDiv
{
	POSITION: absolute;
	TOP: 10px;
	LEFT: 51px;
	HEIGHT: 219px;
	WIDTH: 228px;
}
#Misc1Div
{
	POSITION: absolute;
	TOP: 0px;
	LEFT: 0px;
	WIDTH: 980px;
	HEIGHT: 580px;
	BACKGROUND-IMAGE: URL(style1simple1.jpg);
	BACKGROUND-REPEAT: no-repeat;
	DISPLAY: inline;
}
#SlidesDiv
{
	POSITION: absolute;
	TOP: 10px;
	LEFT: 335px;
	HEIGHT: 479px;
	WIDTH: 639px;
	OVERFLOW: hidden;
}
#TOCDiv
{
	POSITION: absolute;
	TOP: 250px;
	LEFT: 15px;
	HEIGHT: 330px;
	WIDTH: 295px;
	OVERFLOW: auto;
}
.TOCEntryNormal
{
	COLOR: #006600;
	CURSOR: hand;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
	LIST-STYLE: none;
}
.TOCEntryNowPlaying
{
	COLOR: #000000;
	CURSOR: hand;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Verdana;
	FONT-WEIGHT: bold;
	LIST-STYLE: none;
}