NET sys_reset LOC=P16;
NET sys_clk LOC=P35;
NET isa_aen LOC=P59;
NET addr_bus<0> LOC=P3;
NET addr_bus<1> LOC=P4;
NET addr_bus<2> LOC=P5;
NET addr_bus<3> LOC=P78;
NET addr_bus<4> LOC=P79;
NET addr_bus<5> LOC=P82;
NET addr_bus<6> LOC=P83;
NET addr_bus<7> LOC=P84;
NET addr_bus<8> LOC=P50;
NET addr_bus<9> LOC=P58;
NET addr_bus<10> LOC=P60;
NET addr_bus<11> LOC=P28;
NET data_bus<0> LOC=P41;
NET data_bus<1> LOC=P40;
NET data_bus<2> LOC=P39;
NET data_bus<3> LOC=P38;
NET data_bus<4> LOC=P14;
NET data_bus<5> LOC=P81;
NET data_bus<6> LOC=P80;
NET data_bus<7> LOC=P10;
NET data_bus<8> LOC=P7;
NET data_bus<9> LOC=P8;
NET data_bus<10> LOC=P9;
NET data_bus<11> LOC=P6;
NET data_bus<12> LOC=P77;
NET data_bus<13> LOC=P70;
NET data_bus<14> LOC=P66;
NET data_bus<15> LOC=P67;
NET iow	LOC=P69;
NET ior	LOC=P27;
NET irq	LOC=P68;
NET iocs16 LOC=P61;
NET iochrdy LOC=P62;
NET dir_out LOC=P19;
NET cs_out LOC=P18;
