**********************************************
*                                            *
* DRILL TAPE SUMMARY REPORT                  *
*                                            *
* D:\PROJECTS\2000ESL09A\PCB\01A\CAMERA.MAX  *
* Tue Dec 26 05:21:44 2000                   *
*                                            *
**********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       65       200      100                                                                                 
T2       32       140      200      100                                                                                 
T3       36       38       200      100                                                                                 
T4       40       71       200      100                                                                                 
T5       52       3        200      100                                                                                 
T6       68       3        200      100                                                                                 
T7       110      6        200      100                                                                                 
T8       125      6        200      100                                                                                 
