BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.mylink {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #0000ff; FONT-FAMILY:  Sans-Serif, Arial, Helvetica
}
.blackfont {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Sans-Serif, Arial, Helvetica
}
.beauty1font {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Sans-Serif, Arial, Helvetica
}
.beauty2font {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: Sans-Serif, Arial, Helvetica
}
.eblackfont {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.bbfont {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.ebbfont {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.normfont {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.bluefont {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.smallfont {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
.boldfont {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, Sans-Serif
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
