body {
	scrollbar-base-color : #FFCC99;
	scrollbar-track-color : #FFEECC;
	scrollbar-face-color : #FFCC99;
	scrollbar-highlight-color : #FFEECC;
	scrollbar-3dlight-color : #FF9933;
	scrollbar-darkshadow-color : #FFEECC;
	scrollbar-shadow-color : #FF9933;
	scrollbar-arrow-color : #FF9933;
}

a:link, a:active, a:visited {
	text-decoration : underline;
	font-family : MS Sans Serif, Tahoma, sans-serif;
	font-size : 13px;
	color : #6666FF;
}

a:hover {
	text-decoration : none;
	font-family : MS Sans Serif, Tahoma, sans-serif;
	font-size : 13px;
	color : #FF9933;
}

.headmenu {
	text-decoration : none;
	font-family : MS Sans Serif, Tahoma, sans-serif;
	font-size : 17px;
	color : white;
	font-weight : bold;
}

.headfont {
	text-decoration : none;
	font-family : MS Sans Serif, Tahoma, sans-serif;
	font-size : 15px;
	color : #006699;
	font-weight : bold;
}

.defaultfont {
	text-decoration : none;
	font-family : MS Sans Serif, Tahoma, sans-serif;
	font-size : 13px;
	color : #006699;
}

.warning {
	text-decoration : none;
	font-family : MS Sans Serif, Tahoma, sans-serif;
	font-size : 13px;
	color : red;
}