.axisXCell {
    
	color:#FFFFFF;
	background-color:#8fc4cB;
	/*background-color:#0000C0;*/ 
	font-variant:small-caps; 
	text-align:center;
	cursor:hand;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

.axisYCell {
	color:#FFFFFF; 
	background-color:#8fc4cB;
	/*background-color:#0000C0;*/  
	font-variant:small-caps; 
	text-align:left;
	cursor:hand;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

.Cube {
	position:absolute; 
	color:Blue; 
	left:350; 
	top:20;
	/*cursor:hand;*/
	font-family:Microsoft sans serif;
	font-size:10.5pt;
}


.dataCell {
	color:#000000;
	background-color:#FFFFC0; 
	text-align:right;
}

.dataCell0 {
	color:#000000;
	background-color:#FFFF90; 
	text-align:right;
	border: outset 2px;
}

.dataCell1 {
	color:#000000;
	background-color:#FFFFB0; 
	text-align:right;
	border: outset 1px;
}

.dataCell2 {
	color:#000000;
	background-color:#FFFFD0; 
	text-align:right;
}

.dataCell3 {
	color:#000000;
	background-color:#FFFFF0; 
	text-align:right;
}

.DimensionNameOnTable{
	color:yellow; 
	background-color:red;
	/*background-color:#0000C0;*/  
	font-variant:small-caps; 
	text-align:center;
	cursor:hand;
	font-family:Microsoft sans serif;
	font-size:7.5pt;*/
	border: outset 3px;
}

.Dimension {
	position:absolute; 
	color:blue; 
	left:30; 
	top:30;
	cursor:hand;
	/*add*/
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

.Level {
	position:absolute; 
	color:blue; 
	left:30; 
	top:30;
	cursor:hand;
	/*add*/
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

.Level_All {
	position:absolute; 
	color:blue; 
	left:30; 
	top:30;
	/*add*/
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

.DimensionSlice {
	position:absolute; 
	color:blue; 
	left:200; 
	top:30;
	cursor:hand;
	/*add*/
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

body {
	background-color:#FFFFFF;
}

.invisibleForm {
	visibility:hidden;
	position:absolute;
	top:700;	
}

.resultTable {
	position:absolute;
	border-collapse:collapse;
	left:200;
	top:130;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}

.sliceTable{
	position:absolute;
	/*border-collapse:collapse;*/
	left:200;
	top:90;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}
.Member {
	font-family:Microsoft sans serif;
	font-size:7.5pt;
	color:blue; 
	cursor:default;
	border-style:none;
}
.sliceDisplay{
	position:absolute; 
	color:red; 
	left:200; 
	top:55;
	/*cursor:hand;*/
	font-family:Microsoft sans serif;
	font-size:8.5pt;
}

/*add*/
.menu {
    position:absolute;
	/*border-collapse:collapse;*/
	left:800;
	top:90;
	font-family:Microsoft sans serif;
}
.excel {
    position:absolute;
	/*border-collapse:collapse;*/
	left:860;
	top:90;
	font-family:Microsoft sans serif;
}
.AxisXTable {
    position:absolute;
	/*border-collapse:collapse;*/
	left:380;
	top:90;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}
.AxisYTable{
    position:absolute;
	/*border-collapse:collapse;*/
	left:561;
	top:90;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}
.CustomGraph
{
    position:absolute;
	/*border-collapse:collapse;*/
	left:460;
	top:90;
	font-family:Microsoft sans serif;
}
.resetbutton
{
    position:absolute;
	/*border-collapse:collapse;*/
	left:740;
	top:90;
	font-family:Microsoft sans serif;
	font-size:7.5pt;
}