.pathfont {
	font-family: "MS Sans Serif";
	font-size: 14px;
	color: #0000FF;
	text-decoration: none;
}
.insfont {
	font-family: "MS Sans Serif";
	font-size: 14px;
	color: #40045F;
	text-decoration: none;
}
.header {
	font-family: "MS Sans Serif";
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.miniheader {
	font-family: "MS Sans Serif";
	font-size: 18px;
	color: #40045F;
	text-decoration: none;
	font-weight: bold;
}
.inputtext{
	BORDER:#2B2C6F thin solid;COLOR:#000000;
}

.readonly{
	BORDER:#2B2C6F thin solid;COLOR:#000000;BACKGROUND-COLOR:#D9E3F6;
}

a.pathlink:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #57087D}
a.pathlink:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #57087D}
a.pathlink:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 14px;color:#57087D}
a.pathlink:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 14px;color : #81469E}

a.pathlink2:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #0000FF}
a.pathlink2:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #0000FF}
a.pathlink2:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 14px;color:#0000FF}
a.pathlink2:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 14px;color : #0000FF}

a.errorlink:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 16px;color : #FF0000}
a.errorlink:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 16px;color : #FF0000}
a.errorlink:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 16px;color:#FF0000}
a.errorlink:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 16px;color : #FF0000}

a.link1:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 16px;color : #40045F}
a.link1:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 16px;color : #40045F}
a.link1:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 16px;color:#40045F}
a.link1:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 16px;color : #40045F}

a.link2:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #40045F}
a.link2:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #40045F}
a.link2:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 14px;color:#40045F}
a.link2:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 14px;color : #40045F}

a.inslink:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #40045F}
a.inslink:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 14px;color : #40045F}
a.inslink:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 14px;color:#40045F}
a.inslink:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 14px;color : #906DA2}

.font2 {
	font-family: "MS Sans Serif";
	font-size: 16px;
	color: #40045F;
	text-decoration: none;
}
.error {
	font-family: "MS Sans Serif";
	font-size: 16px;
	color: #FF0000;
	text-decoration: none;
}
.topic {
	font-family: "MS Sans Serif";
	font-size: 24px;
	color: #6699FF;
	text-decoration: none;
}
