.topic {
	font-family: "MS Sans Serif";
	font-size: 24px;
	color: #663399;
	text-decoration: none;
}

a.mylink:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 18px;color : #663399}
a.mylink:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 18px;color : #663399}
a.mylink:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 18px;color:#663399}
a.mylink:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 18px;color : #81469E}

a.amail:active {text-decoration: none;font-family : "MS Sans Serif"; font-size : 18px;color : #39155E}
a.amail:link {text-decoration: none;font-family : "MS Sans Serif"; font-size : 18px;color : #39155E}
a.amail:visited {text-decoration: none;font-family :"MS Sans Serif"; font-size : 18px;color:#39155E}
a.amail:hover {text-decoration: underline; font-family :"MS Sans Serif"; font-size : 18px;color : #8764AB}


.header {
	font-family: "MS Sans Serif";
	font-size: 16pt;
	color: #FFFFFF;
	text-decoration: none;
}
.myfont {
	font-family: "MS Sans Serif";
	font-size: 18px;
	text-decoration: none;
	color: #663399;

}
.myfont2 {
	font-family: "MS Sans Serif";
	font-size: 16px;
	color: #39155E;
	text-decoration: none;
}
