TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
A:link {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Tahoma
}
A:visited {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Tahoma
}
A:hover {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ffff00
}
A:active {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
BLOCKQUOTE {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
TBODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
LI {
	FONT-SIZE: 14px; FONT-FAMILY: "MS Sans Serif", Tahoma, sans-serif
}
UL {
	FONT-SIZE: 14px; FONT-FAMILY: "MS Sans Serif", Tahoma, sans-serif
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
