
.headtable
{
	background-color: #FF9900;
}
.col1
{
	background-color: #FFFFCC;
	font-size: 10 pt;
}
.col2
{
	background-color: #00CCFF;
	font-size: 10 pt;
}
.foot
{
	background-color: #99CCFF;
	font-size: 10 pt;
}



.headfont
{
	font-family: san-serif;
	font-size: 10 pt;
	font-family: bold;
	text-align: center;
}

.headtxt
{
	font-family: san-serif;
	font-size: 13 pt;
	font-family: bold;
}
.bodytxt
{
	font-family: san-serif;
	font-size: 11 pt;
}
.smalltxt
{
	font-family: san-serif;
	font-size: 8 pt;
	font-family: bold;
}
