h1       { font-family: Arial, sans-serif; font-size: 14pt; font-weight: bold }
pre      { font-family: Courier New, monospace; font-size: 9pt; color: #336699 }
.default { font-family: Arial, sans-serif; font-size: 10pt; }
BODY {
	font-family:MS Sans Serif;font-size:14px;
	scrollbar-face-color:#9088B0;
}
.frame {
	MARGIN-TOP: 0px; FONT-SIZE: medium; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px; FONT-FAMILY: verdana, geneva, arial, helvetica, sans-serif; SCROLLBAR-BASE-COLOR: #b0c0d0; font-size-adjust: .58
}
TD {
	font-family:MS Sans Serif;font-size:14px; background-color:#DDDDEE;
}
TD2 {
	MARGIN-TOP: 3px; FONT-SIZE: small; MARGIN-LEFT: 3px; MARGIN-RIGHT: 3px; FONT-FAMILY: verdana, geneva, arial, helvetica, sans-serif; font-size-adjust: .58
}
BLOCKQUOTE {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, geneva, arial, helvetica, sans-serif; font-size-adjust: .58
}
H1 {
	FONT-SIZE: 180%; FONT-FAMILY: tahoma, geneva, arial, helvetica, sans-serif
}
H2 {
	FONT-SIZE: 160%; FONT-FAMILY: tahoma, geneva, arial, helvetica, sans-serif
}
H3 {
	FONT-SIZE: 140%; FONT-FAMILY: tahoma, geneva, arial, helvetica, sans-serif
}
H4 {
	FONT-SIZE: 120%; FONT-FAMILY: tahoma, geneva, arial, helvetica, sans-serif
}
PRE {
	FONT-SIZE: 90%
}
.code {
	BORDER-TOP: navy 1px solid; FONT-SIZE: x-small; BORDER-BOTTOM: navy 1px solid; FONT-FAMILY: verdana, geneva, arial, helvetica, sans-serif; BACKGROUND-COLOR: white; font-size-adjust: .58
}
.global2 {
	FONT-SIZE: 70%; FONT-FAMILY: verdana, geneva, arial, helvetica, sans-serif
}
.thtcolor {
	COLOR: #ffffff; FONT-VARIANT: small-caps
}
.help {
	BACKGROUND-COLOR: #fffff0
}
.highlight {
	COLOR: #ffffff; BACKGROUND-COLOR: #769dc4
}
.navbar {
	FONT-SIZE: 70%; COLOR: #000080
}
.download {
	FONT-SIZE: 95%; COLOR: #000080
}
.articletitle {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; COLOR: #335588; LINE-HEIGHT: 26px; FONT-FAMILY: trebuchet ms, arial, verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
.author {
	FONT-SIZE: 80%; COLOR: #335588; FONT-FAMILY: trebuchet ms, arial, verdana, helvetica, sans-serif; TEXT-DECORATION: none
}
.cattitle {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #ffffff; LINE-HEIGHT: 160%; BACKGROUND-COLOR: #769dc4
}
.relatedarticle {
	FONT-SIZE: 100%; COLOR: #000000
}
.nextpage {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #fb8821
}
.subtext {
	FONT-SIZE: 75%; COLOR: #335588; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.smallfont {
	FONT-SIZE: 80%; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.tiny {
	FONT-SIZE: 65%; COLOR: #b0c0d0; FONT-FAMILY: verdana, geneva, arial, helvetica, sans-serif
}
.featuretitleadv {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.lfont {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.mfont {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.sfont {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.toplinks {
	FONT: bold 9px verdana,sans-serif,arial; COLOR: #3f4f5f
}
.toplinks2 {
	FONT: bold 10pt "Trebuchet MS",verdana,sans-serif,arial; COLOR: #3f4f5f
}
.topad {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.topform {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	BORDER-LEFT-COLOR: #3f4f5f; BORDER-BOTTOM-COLOR: #3f4f5f; COLOR: #000000; BORDER-TOP-COLOR: #3f4f5f; BACKGROUND-COLOR: #dfe5e5; BORDER-RIGHT-COLOR: #3f4f5f
}

.inputnobg {
	BORDER-LEFT-COLOR: #3f4f5f; BORDER-BOTTOM-COLOR: #3f4f5f; COLOR: #000000; BORDER-TOP-COLOR: #3f4f5f; BACKGROUND-COLOR: transparent; BORDER-RIGHT-COLOR: #3f4f5f
}
TEXTAREA {
	BORDER-LEFT-COLOR: #3f4f5f; BORDER-BOTTOM-COLOR: #3f4f5f; COLOR: #000000; BORDER-TOP-COLOR: #3f4f5f; BACKGROUND-COLOR: #dfe5e5; BORDER-RIGHT-COLOR: #3f4f5f; font-family:MS Sans Serif;font-size:14px;
}
 INPUT {
	BORDER-LEFT-COLOR: #3f4f5f; BORDER-BOTTOM-COLOR: #3f4f5f; COLOR: #000000; BORDER-TOP-COLOR: #3f4f5f; BACKGROUND-COLOR: #dfe5e5; BORDER-RIGHT-COLOR: #3f4f5f
}
