<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Welcome.MaximizeBox" value="True" />
		<add key="optMale.Checked" value="True" />
		<add key="Timer1.Enabled" value="False" />
		<add key="DateTimePicker1.MinDate" value="1/1/1753 12:00:00 AM" />
		<add key="ProgressBar1.Step" value="10" />
	</appSettings>
</configuration>