[21]
if(ver <= wu-2.4){
bug("Wu-ftpd versions prior to version 2.4 contain many serious vulnerabilities and should be immediately upgraded to ensure the highest level of security.")
sol("Upgrade to the current version of wu-ftpd Server.")
}

[21]
if(ver == wu-2.5.0){
bug("Wu-ftpd version 2.5.0 contains a buffer overflow that could allow an attacker to remotely gain root access.")
sol("Upgrade to the current version of wu-ftpd Server.")
}

[21]
if(ver == wu-2.6.0){
bug("Wu-ftpd version wu-2.6.0 contains a Format string attack that could allow an attacker to remotely gain root access.")
sol("Upgrade to the current version of wu-ftpd Server.")
}


[25]
if(ver==5.5){
bug("Sendmail version 5.5 contains a hole that allows an attacker to remotely execute commands.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==5.61){
bug("Sendmail version 5.61 contains a hole that allows an attacker to remotely execute commands.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==5.65){
bug("Sendmail version 5.65 contains several backdoors that allow an attacker to remotely execute commands.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==5.65c){
bug("Sendmail version 5.65c contains a bug could allow an attacker to remotely execute commands.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.6.10){
bug("Sendmail version 8.6.10 contains a bug that could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.6.11){
bug("Sendmail version 8.6.11 and 8.6.12 contains a bug that could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.6.12){
bug("Sendmail version 8.6.11 and 8.6.12 contains a bug that could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.6.12){
bug("Sendmail version 8.6.12 contains a bug that could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.6.9){
bug("Sendmail version 8.6.9 contains a hole that allows an attacker to remotely execute commands at root level.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.6.9){
bug("Sendmail version 8.6.9 contains a hole that allows an attacker to remotely execute commands at root level through ident functionality.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.7){
bug("Sendmail version 8.7 contains a bug could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver<=8.7.6){
bug("Sendmail versions prior to 8.7.6 contain bugs could allow a local user to gain root access via numerous unchecked buffers.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.7.2){
bug("There is a resource depletion vulnerability in sendmail 8.7.2")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.7.4){
bug("There is a resource depletion vulnerability in sendmail 8.7.4")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.7.5){
bug("Sendmail version 8.7.5 contains a bug could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.7.5){
bug("There is a resource depletion vulnerability in sendmail 8.7.5.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8){
bug("There is a bug that allows a local user to gain control of the sendmail process and use it to execute code as root.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.0){
bug("Sendmail version 8.8.0 contains a MIME buffer overflow that could allow an attacker to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.1){
bug("Sendmail version 8.8.1 contains a MIME buffer overflow that could allow an attacker to gain root access")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.2){
bug("Sendmail version 8.8.2 contains a bug that could allow a local user to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.3){
bug("An overflow exists in version 8.8.3 of Sendmail that could allow an attacker to send a carefully crafted email and force Sendmail to execute arbitrary code.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.4){
bug("An overflow exists in version 8.8.4 of Sendmail that could allow an attacker to send a carefully crafted email and force Sendmail to execute arbitrary code.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.5){
bug("Holes exist in Sendmail versions 8.8.5 and earlier that can allow a remote attacker to starve system resources or allow a remote attacker to gain root access.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.6){
bug("Holes exist in some Sendmail versions 8.8.6 and earlier that can allow a local user to initiate a denial of service (DoS) attack.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.8.8){
bug("Sendmail version 8.8.8 contains a bug that could allow an attacker to spoof email from your server.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.9.1){
bug("Sendmail version 8.9.1 contains a bug that could allow a local user to launch a DoS (Denial of Service) attack.")
sol("Upgrade to the current version of Sendmail.")
}

[25]
if(ver==8.9.2){
bug("Sendmail version 8.9.2 contains several bugs that could allow an attacker to launch a DoS (Denial of Service) attack.")
sol("Upgrade to the current version of Sendmail.")
}

[0]
if(os == "HP-UX B.10.20"){
bug("The cmsd RPC service has been known to contain holes that would allow a remote attacker the ability to run code as root on the remote server due to an unchecked buffer condition.")
sol("Upgrade to the current version of cmsd from your vendor, or if this service is unnessescary, remove it following your vendor's directions.")
}

[110]
if(ver==2.1.4-R3){
bug("QPOP 2.1.4-R3 is vulnerable to a remote buffer overflow that can be exploited to gain root level access to the remote machine.")
sol("Upgrade to the latest version of QPOP.")
}

[110]
if(ver==2.2){
bug("QPOP 2.2 is vulnerable to a remote buffer overflow that can be exploited to gain root level access to the remote machine.")
sol("Upgrade to the latest version of QPOP.")
}

[110]
if(ver==2.3){
bug("QPOP 2.3 is vulnerable to a remote buffer overflow that can be exploited to gain root level access to the remote machine.")
sol("Upgrade to the latest version of QPOP.")
}

[110]
if(ver==2.4){
bug("QPOP 2.4 is vulnerable to a remote buffer overflow that can be exploited to gain root level access to the remote machine.")
sol("Upgrade to the latest version of QPOP.")
}

[110]
if(ver==2.41beta1){
bug("QPOP 2.41beta1 is vulnerable to a remote buffer overflow that can be exploited to gain root level access to the remote machine.")
sol("Upgrade to the latest version of QPOP.")
}

[110]
if(ver==3.0b){
bug("QPOP version 3.0b is vulnerable to a remote buffer overflow that can be exploited to gain root level access to the remote machine.")
sol("Upgrade to the latest version of QPOP.")
}

