BODY
{
    MARGIN: 0.5em 2em 1em 2.5em;
    FONT-FAMILY: 'MS Sans Serif';
    BACKGROUND-COLOR: #ffffff
}
H1
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: sans-serif
}
H2
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: sans-serif
}
H3
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: sans-serif
}
H4
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: sans-serif
}
H5
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: sans-serif
}
H6
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: sans-serif
}
H1
{
    FONT-SIZE: 30pt;
    BACKGROUND-IMAGE: url(canvas.png)
}
H2
{
    FONT-SIZE: 16pt;
    COLOR: #999999
}
P
{
    FONT-SIZE: 6pt;
    WIDTH: 50%;
    FONT-FAMILY: "Book Antiqua", serif
}
UL LI
{
    FONT-SIZE: 6pt;
    FONT-FAMILY: "Book Antiqua", serif;
    LIST-STYLE-TYPE: square
}
.masthead
{
    COLOR: #009900;
    FONT-STYLE: italic;
    FONT-FAMILY: "Times New Roman", serif;
    TEXT-ALIGN: center
}
.advisories
{
    BORDER-RIGHT: #ff0000 2px solid;
    BORDER-TOP: #ff0000 2px solid;
    BORDER-LEFT: #ff0000 2px solid;
    COLOR: #ff0000;
    BORDER-BOTTOM: #ff0000 2px solid;
    FONT-STYLE: italic
}
.footer
{
    FONT-SIZE: 10pt;
    COLOR: #009900;
    FONT-FAMILY: sans-serif;
    TEXT-ALIGN: center
}
