A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #666666; TEXT-DECORATION: underline
}
A:active {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: #ff9900; COLOR: #ffffff; TEXT-DECORATION: underline
}
TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"
}
INPUT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"
}
TEXTAREA {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: x-small; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; FONT-FAMILY: "MS Sans Serif", "Microsoft Sans Serif"
}
BODY {
	BACKGROUND-COLOR: #ffffff
}
