;****************************
;* General LXTCP parameters *
;****************************

my_ip=10.64.1.32             ; Note that "my_ip=bootp" is preferred.

netmask=255.255.255.0		; Should be provided by BOOTP server.

