if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CLEARING]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CLEARING]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[HOSPITAL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[HOSPITAL]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[HOSPITALMAIN]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[HOSPITALMAIN]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[HOSPITAL_INFO]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[HOSPITAL_INFO]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[HOSPITAL_TYPE]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[HOSPITAL_TYPE]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbhospital].[ampher]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbhospital].[ampher]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbhospital].[province]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbhospital].[province]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbhospital].[tumbon]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbhospital].[tumbon]
GO

CREATE TABLE [dbo].[CLEARING] (
	[PID] [varchar] (13) COLLATE Thai_CI_AS NOT NULL ,
	[BILL_ID] [varchar] (20) COLLATE Thai_CI_AS NOT NULL ,
	[DATE_BILL] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[DISEASE] [varchar] (50) COLLATE Thai_CI_AS NULL ,
	[COST_MEDICINE] [int] NULL ,
	[COST_DOCTOR] [int] NULL ,
	[COST_ROOM] [int] NULL ,
	[COST_TREAT] [int] NULL ,
	[COST_OTHER] [varchar] (50) COLLATE Thai_CI_AS NULL ,
	[COST_SUM] [int] NULL ,
	[HSTATUS] [varchar] (1) COLLATE Thai_CI_AS NULL ,
	[HOSPMAIN] [varchar] (5) COLLATE Thai_CI_AS NULL ,
	[HOSPSUB] [varchar] (5) COLLATE Thai_CI_AS NULL ,
	[HOSPSTATUS] [varchar] (1) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HOSPITAL] (
	[HMAIN] [varchar] (5) COLLATE Thai_CI_AS NOT NULL ,
	[HNAME] [varchar] (200) COLLATE Thai_CI_AS NULL ,
	[pvcode] [varchar] (2) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HOSPITALMAIN] (
	[PURCHASEPROVINCE] [varchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[HMAIN] [varchar] (5) COLLATE Thai_CI_AS NOT NULL ,
	[HNAME] [varchar] (200) COLLATE Thai_CI_AS NULL ,
	[HTYPE] [varchar] (4) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HOSPITAL_INFO] (
	[HMAIN] [varchar] (5) COLLATE Thai_CI_AS NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[HOSPITAL_TYPE] (
	[HTYPE] [varchar] (4) COLLATE Thai_CI_AS NOT NULL ,
	[HTYPE_NAME] [varchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbhospital].[ampher] (
	[pvcode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[amcode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[name] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbhospital].[province] (
	[pvcode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[name] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbhospital].[tumbon] (
	[pvcode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[amcode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[ttcode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[moucode] [nvarchar] (2) COLLATE Thai_CI_AS NOT NULL ,
	[name] [nvarchar] (50) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLEARING] ADD 
	CONSTRAINT [PK_CLEARING] PRIMARY KEY  CLUSTERED 
	(
		[PID],
		[BILL_ID],
		[DATE_BILL]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[HOSPITAL] ADD 
	CONSTRAINT [PK_HOSPITAL] PRIMARY KEY  CLUSTERED 
	(
		[HMAIN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[HOSPITALMAIN] ADD 
	CONSTRAINT [PK_HOSPITALMAIN] PRIMARY KEY  CLUSTERED 
	(
		[PURCHASEPROVINCE],
		[HMAIN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[HOSPITAL_INFO] ADD 
	CONSTRAINT [PK_HOSPITAL_INFO] PRIMARY KEY  CLUSTERED 
	(
		[HMAIN]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[HOSPITAL_TYPE] ADD 
	CONSTRAINT [PK_HOSPITAL_TYPE] PRIMARY KEY  CLUSTERED 
	(
		[HTYPE]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbhospital].[ampher] ADD 
	CONSTRAINT [PK_ampher] PRIMARY KEY  CLUSTERED 
	(
		[pvcode],
		[amcode]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbhospital].[province] ADD 
	CONSTRAINT [PK_province] PRIMARY KEY  CLUSTERED 
	(
		[pvcode]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbhospital].[tumbon] ADD 
	CONSTRAINT [PK_tumbon] PRIMARY KEY  CLUSTERED 
	(
		[pvcode],
		[amcode],
		[ttcode]
	)  ON [PRIMARY] 
GO

