body
  {
		  background-color: #FFFFFF;
		  margin: 10px;
  }

/*h1, h2, h3, h4, h5,h6
  {
		  color: #996666; /* rust 
		  font-weight: bold;
		  font-family: sans-serif;
  }

h1
  {
		  background-image:  url(file:///F|/INTERNET%20PROGRAMMING/%A2%E9%CD%C1%D9%C5%B7%D3%E0%C7%BA/n_gage_qd/Pictures/teaser_bg_1.gif);
		  font-size: 30pt;
  }

h2
  {
		  color: #999999; /* dark gray 
		  font-size: 16pt;
		  page-break-before: always;
  }

h4
{
		color:Red;
		background-image:  url(file:///F|/INTERNET%20PROGRAMMING/%A2%E9%CD%C1%D9%C5%B7%D3%E0%C7%BA/n_gage_qd/Pictures/teaser_bg_1.gif);

}
h5
{
		color:yellow;
		background-image:  url(file:///F|/INTERNET%20PROGRAMMING/%A2%E9%CD%C1%D9%C5%B7%D3%E0%C7%BA/n_gage_qd/Pictures/teaser_bg_1.gif);

}
h6
{
	color:#FFFFFF;
	font-weight: italic;
	  font-size: 8pt;


}*/
/*p
  {
		color:#FFFFFF;
		  margin: 20px;
		  font-family: "Book Antiqua", serif;
		  font-size: 12pt;
		  widows: 3;
		  orphans: 3;
  }
*/
ul li
  {
		  font-family: "Book Antiqua", serif;
		  font-size: 12pt;
		  list-style-type: square;
  }

/* Classes used in the newsletter */

.masthead
  {
		  color: #009900; /* green */
		  font-style: italic;
		  font-family: "Times New Roman", serif;
		  text-align: center;
  }

.advisories
  {
		  border-bottom-style: dashed;
		  border-color: #FF0000; /* red */
		  border-width: 2px;
		  color: #FF0000; /* red */
		  font-style: italic;
  }

#special
  {
		  font-weight: bold;
		  margin-left: 1in;
  }

.footer
  {
		  color: #009900; /* green */
		  font-size: 10pt;
		  font-family: sans-serif;
		  text-align: center;
  }
  a:visited
  {
		text-decoration:none
  }