/****** Object:  Stored Procedure dbo.Find_Officer    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Find_Officer]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[Find_Officer]
GO

/****** Object:  Table [dbo].[Company]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Company]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Company]
GO

/****** Object:  Table [dbo].[Computer_Detail]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Computer_Detail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Computer_Detail]
GO

/****** Object:  Table [dbo].[Department]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Department]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Department]
GO

/****** Object:  Table [dbo].[Durable]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Durable]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Durable]
GO

/****** Object:  Table [dbo].[Give]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Give]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Give]
GO

/****** Object:  Table [dbo].[Officer]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Officer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Officer]
GO

/****** Object:  Table [dbo].[Over1]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Over1]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Over1]
GO

/****** Object:  Table [dbo].[Repair]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Repair]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Repair]
GO

/****** Object:  Table [dbo].[Repair_History]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Repair_History]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Repair_History]
GO

/****** Object:  Table [dbo].[Room]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Room]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Room]
GO

/****** Object:  Table [dbo].[Type]    Script Date: 08/03/2544 18:22:15 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Type]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Type]
GO

/****** Object:  Login Library    Script Date: 08/03/2544 18:22:05 ******/
if not exists (select * from master..syslogins where name = N'Library')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'Durable', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master..sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master..syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'Library', null, @logindb, @loginlang
END
GO



/****** Object:  User dbo    Script Date: 08/03/2544 18:22:06 ******/
/****** Object:  User Library    Script Date: 08/03/2544 18:22:06 ******/
if not exists (select * from sysusers where name = N'Library' and uid < 16382)
	EXEC sp_grantdbaccess N'Library', N'Library'
GO


/****** Object:  Table [dbo].[Company]    Script Date: 08/03/2544 18:22:29 ******/
CREATE TABLE [dbo].[Company] (
	[Company_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Company_Name] [char] (40) NOT NULL ,
	[Phone1] [char] (20) NULL ,
	[Phone2] [char] (20) NULL ,
	[Phone3] [char] (20) NULL ,
	[Fax] [char] (20) NULL ,
	[Address] [char] (200) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Computer_Detail]    Script Date: 08/03/2544 18:22:45 ******/
CREATE TABLE [dbo].[Computer_Detail] (
	[Durable_ID] [char] (30) NOT NULL ,
	[CPU] [char] (20) NULL ,
	[Monitor] [char] (20) NULL ,
	[Harddisk] [char] (20) NULL ,
	[Ram] [char] (20) NULL ,
	[Mouse] [char] (20) NULL ,
	[Keyboard] [char] (20) NULL ,
	[LanCard] [char] (20) NULL ,
	[CD_ROM] [char] (20) NULL ,
	[SoundCard] [char] (20) NULL ,
	[Speaker] [char] (20) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Department]    Script Date: 08/03/2544 18:22:47 ******/
CREATE TABLE [dbo].[Department] (
	[Department_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Department_Name] [char] (20) NOT NULL ,
	[Chief_ID] [int] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Durable]    Script Date: 08/03/2544 18:22:49 ******/
CREATE TABLE [dbo].[Durable] (
	[Durable_ID] [char] (30) NOT NULL ,
	[Type_ID] [int] NOT NULL ,
	[Price] [int] NULL ,
	[Date_Buy] [datetime] NULL ,
	[Date_Expire1] [datetime] NULL ,
	[Date_Expire2] [datetime] NULL ,
	[Respond_ID] [int] NULL ,
	[Room_ID] [int] NULL ,
	[Status] [char] (10) NULL ,
	[Length_Maintain] [int] NULL ,
	[Detail] [char] (200) NULL ,
	[Company_ID] [int] NULL ,
	[Contact_Name] [char] (50) NULL ,
	[Date_Change] [datetime] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Give]    Script Date: 08/03/2544 18:22:51 ******/
CREATE TABLE [dbo].[Give] (
	[Durable_ID] [char] (30) NOT NULL ,
	[Date_Give] [datetime] NOT NULL ,
	[Document_ID] [char] (20) NOT NULL ,
	[Give_Name] [char] (100) NOT NULL ,
	[Reason] [char] (100) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Officer]    Script Date: 08/03/2544 18:22:52 ******/
CREATE TABLE [dbo].[Officer] (
	[Officer_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Officer_Name] [char] (40) NOT NULL ,
	[Department_ID] [int] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Over1]    Script Date: 08/03/2544 18:22:53 ******/
CREATE TABLE [dbo].[Over1] (
	[Durable_ID] [char] (30) NOT NULL ,
	[Date_Over] [datetime] NOT NULL ,
	[Document_ID] [char] (20) NOT NULL ,
	[Name1] [char] (40) NOT NULL ,
	[Name2] [char] (40) NULL ,
	[Name3] [char] (40) NULL ,
	[Reason] [char] (100) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Repair]    Script Date: 08/03/2544 18:22:55 ******/
CREATE TABLE [dbo].[Repair] (
	[Durable_ID] [char] (30) NOT NULL ,
	[Date_Repair] [datetime] NOT NULL ,
	[Company_ID] [int] NOT NULL ,
	[Date_Take] [datetime] NOT NULL ,
	[Officer_ID] [int] NOT NULL ,
	[Contact_Name] [char] (40) NOT NULL ,
	[Condition] [char] (200) NULL ,
	[Attach_Item] [char] (100) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Repair_History]    Script Date: 08/03/2544 18:22:56 ******/
CREATE TABLE [dbo].[Repair_History] (
	[Num] [int] IDENTITY (1, 1) NOT NULL ,
	[Durable_ID] [char] (30) NOT NULL ,
	[Date_Repair] [datetime] NOT NULL ,
	[Date_Take] [datetime] NOT NULL ,
	[Repair_Price] [int] NULL ,
	[Company_ID] [int] NULL ,
	[Condition] [char] (200) NULL ,
	[Repair_Result] [char] (10) NOT NULL ,
	[Detail] [char] (200) NULL ,
	[Officer_ID] [int] NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Room]    Script Date: 08/03/2544 18:22:58 ******/
CREATE TABLE [dbo].[Room] (
	[Room_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Room_Name] [char] (40) NOT NULL ,
	[Department_ID] [int] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Type]    Script Date: 08/03/2544 18:22:59 ******/
CREATE TABLE [dbo].[Type] (
	[Type_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Type_Name] [char] (50) NOT NULL ,
	[Category] [char] (15) NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Company] WITH NOCHECK ADD 
	CONSTRAINT [PK_Company] PRIMARY KEY  NONCLUSTERED 
	(
		[Company_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Computer_Detail] WITH NOCHECK ADD 
	CONSTRAINT [PK_Computer_Detail] PRIMARY KEY  NONCLUSTERED 
	(
		[Durable_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD 
	CONSTRAINT [PK_Department] PRIMARY KEY  NONCLUSTERED 
	(
		[Department_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Durable] WITH NOCHECK ADD 
	CONSTRAINT [PK_Durable] PRIMARY KEY  NONCLUSTERED 
	(
		[Durable_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Give] WITH NOCHECK ADD 
	CONSTRAINT [PK_Give] PRIMARY KEY  NONCLUSTERED 
	(
		[Durable_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Over1] WITH NOCHECK ADD 
	CONSTRAINT [PK_Over] PRIMARY KEY  NONCLUSTERED 
	(
		[Durable_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Repair] WITH NOCHECK ADD 
	CONSTRAINT [PK_Repair] PRIMARY KEY  NONCLUSTERED 
	(
		[Durable_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Repair_History] WITH NOCHECK ADD 
	CONSTRAINT [PK_Repair_History] PRIMARY KEY  NONCLUSTERED 
	(
		[Num]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Room] WITH NOCHECK ADD 
	CONSTRAINT [PK_Room] PRIMARY KEY  NONCLUSTERED 
	(
		[Room_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Type] WITH NOCHECK ADD 
	CONSTRAINT [PK_Type] PRIMARY KEY  NONCLUSTERED 
	(
		[Type_ID]
	)  ON [PRIMARY] 
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Company]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Computer_Detail]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Department]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Durable]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Give]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Officer]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Over1]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Repair]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Repair_History]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Room]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Type]  TO [Library]
GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

/****** Object:  Stored Procedure dbo.Find_Officer    Script Date: 08/03/2544 18:23:01 ******/

CREATE PROCEDURE Find_Officer @Officer_Name varchar(20) AS
SELECT Officer_Name 
FROM Officer
WHERE  Officer_Name LIKE @Officer_Name+'%'



GO

SET QUOTED_IDENTIFIER  OFF    SET ANSI_NULLS  ON 
GO

GRANT  EXECUTE  ON [dbo].[Find_Officer]  TO [public]
GO


