/****** Object:  Table [dbo].[Bring]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Bring]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Bring]
GO

/****** Object:  Table [dbo].[Buy_Detail]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Buy_Detail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Buy_Detail]
GO

/****** Object:  Table [dbo].[Company]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Company]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Company]
GO

/****** Object:  Table [dbo].[Department]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Department]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Department]
GO

/****** Object:  Table [dbo].[Inventory]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Inventory]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Inventory]
GO

/****** Object:  Table [dbo].[Lot]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Lot]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Lot]
GO

/****** Object:  Table [dbo].[Officer]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Officer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Officer]
GO

/****** Object:  Table [dbo].[Return_]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Return_]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Return_]
GO

/****** Object:  Table [dbo].[Transaction_]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Transaction_]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Transaction_]
GO

/****** Object:  Table [dbo].[Voucher]    Script Date: 22/3/44 19:45:23 ******/
if exists (select * from sysobjects where id = object_id(N'[dbo].[Voucher]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Voucher]
GO

/****** Object:  Login Library    Script Date: 22/3/44 19:45:20 ******/
if not exists (select * from master..syslogins where name = N'Library')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'Inventory', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master..sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master..syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'Library', null, @logindb, @loginlang
END
GO

/****** Object:  Login Nhong    Script Date: 22/3/44 19:45:20 ******/
if not exists (select * from master..syslogins where name = N'Nhong')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'master', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master..sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master..syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'Nhong', null, @logindb, @loginlang
END
GO

/****** Object:  Login Test    Script Date: 22/3/44 19:45:20 ******/
if not exists (select * from master..syslogins where name = N'Test')
BEGIN
	declare @logindb nvarchar(132), @loginlang nvarchar(132) select @logindb = N'master', @loginlang = N'us_english'
	if @logindb is null or not exists (select * from master..sysdatabases where name = @logindb)
		select @logindb = N'master'
	if @loginlang is null or (not exists (select * from master..syslanguages where name = @loginlang) and @loginlang <> N'us_english')
		select @loginlang = @@language
	exec sp_addlogin N'Test', null, @logindb, @loginlang
END
GO

/****** Object:  User dbo    Script Date: 22/3/44 19:45:20 ******/
/****** Object:  User Library    Script Date: 22/3/44 19:45:20 ******/
if not exists (select * from sysusers where name = N'Library' and uid < 16382)
	EXEC sp_grantdbaccess N'Library', N'Library'
GO

/****** Object:  Table [dbo].[Bring]    Script Date: 22/3/44 19:45:31 ******/
CREATE TABLE [dbo].[Bring] (
	[Bring_ID] [char] (40) NOT NULL ,
	[Date_bring] [char] (10) NULL ,
	[Bring_Name] [char] (40) NULL ,
	[Department_ID] [int] NULL ,
	[Recieve_Name] [char] (40) NULL ,
	[Pay_Name] [char] (40) NULL ,
	[Command_Pay] [char] (40) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Buy_Detail]    Script Date: 22/3/44 19:45:34 ******/
CREATE TABLE [dbo].[Buy_Detail] (
	[Voucher_ID] [char] (40) NOT NULL ,
	[Order_No] [int] NOT NULL ,
	[Buy_No] [int] NULL ,
	[Inventory_ID] [int] NULL ,
	[PPE_Buy] [float] NULL ,
	[VAT] [int] NULL ,
	[TotalBuy] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Company]    Script Date: 22/3/44 19:45:35 ******/
CREATE TABLE [dbo].[Company] (
	[Company_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Company_Name] [char] (40) NOT NULL ,
	[Phone1] [char] (20) NULL ,
	[Phone2] [char] (20) NULL ,
	[Phone3] [char] (20) NULL ,
	[Fax] [char] (20) NULL ,
	[Address] [char] (200) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Department]    Script Date: 22/3/44 19:45:36 ******/
CREATE TABLE [dbo].[Department] (
	[Department_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Department_Name] [char] (40) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Inventory]    Script Date: 22/3/44 19:45:37 ******/
CREATE TABLE [dbo].[Inventory] (
	[Inventory_ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Inventory_Name] [char] (40) NULL ,
	[Category] [char] (40) NULL ,
	[Numerative] [char] (10) NULL ,
	[Min_Have] [int] NULL ,
	[Size_] [char] (40) NULL ,
	[Place] [char] (40) NULL ,
	[Code] [char] (40) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Lot]    Script Date: 22/3/44 19:45:38 ******/
CREATE TABLE [dbo].[Lot] (
	[Lot_ID] [int] NOT NULL ,
	[Inventory_ID] [int] NOT NULL ,
	[Have_No] [int] NULL ,
	[PPE] [float] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Officer]    Script Date: 22/3/44 19:45:39 ******/
CREATE TABLE [dbo].[Officer] (
	[President] [char] (40) NOT NULL ,
	[Invenofficer] [char] (40) NOT NULL ,
	[Invensec] [char] (40) NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Return_]    Script Date: 22/3/44 19:45:40 ******/
CREATE TABLE [dbo].[Return_] (
	[Date_Return] [datetime] NOT NULL ,
	[Return_Name] [char] (40) NULL ,
	[ReTake] [char] (40) NULL ,
	[Reason] [char] (200) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Transaction_]    Script Date: 22/3/44 19:45:41 ******/
CREATE TABLE [dbo].[Transaction_] (
	[Transaction_ID] [int] NOT NULL ,
	[Inventory_ID] [int] NOT NULL ,
	[Voice_ID] [char] (40) NULL ,
	[PassTo] [char] (40) NULL ,
	[PPE] [float] NULL ,
	[Recieve_NO] [int] NULL ,
	[Bring_No] [int] NULL ,
	[Have_No] [int] NULL ,
	[Department_ID] [int] NULL ,
	[Date_] [datetime] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Voucher]    Script Date: 22/3/44 19:45:42 ******/
CREATE TABLE [dbo].[Voucher] (
	[Voucher_ID] [char] (40) NOT NULL ,
	[At] [char] (100) NULL ,
	[Date_Buy] [datetime] NULL ,
	[Case_Buy] [char] (100) NULL ,
	[Req_For] [char] (100) NULL ,
	[Reason] [char] (200) NULL ,
	[Day_Use] [int] NULL ,
	[Msource] [char] (100) NULL ,
	[Referee1] [char] (40) NULL ,
	[Referee2] [char] (40) NULL ,
	[Referee3] [char] (40) NULL ,
	[Company_ID] [int] NULL ,
	[Respond_Name] [char] (40) NULL ,
	[Taker_Name] [char] (40) NULL ,
	[Complete] [char] (5) NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Bring] WITH NOCHECK ADD 
	CONSTRAINT [PK_Bring] PRIMARY KEY  NONCLUSTERED 
	(
		[Bring_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Buy_Detail] WITH NOCHECK ADD 
	CONSTRAINT [PK_Buy_Detail] PRIMARY KEY  NONCLUSTERED 
	(
		[Voucher_ID],
		[Order_No]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Department] WITH NOCHECK ADD 
	CONSTRAINT [PK_Department] PRIMARY KEY  NONCLUSTERED 
	(
		[Department_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Inventory] WITH NOCHECK ADD 
	CONSTRAINT [PK_Inventory] PRIMARY KEY  NONCLUSTERED 
	(
		[Inventory_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Lot] WITH NOCHECK ADD 
	CONSTRAINT [PK_Lot] PRIMARY KEY  NONCLUSTERED 
	(
		[Lot_ID],
		[Inventory_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Officer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Officer] PRIMARY KEY  NONCLUSTERED 
	(
		[President],
		[Invenofficer],
		[Invensec]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Return_] WITH NOCHECK ADD 
	CONSTRAINT [PK_Return] PRIMARY KEY  NONCLUSTERED 
	(
		[Date_Return]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Transaction_] WITH NOCHECK ADD 
	CONSTRAINT [PK_Transaction] PRIMARY KEY  NONCLUSTERED 
	(
		[Transaction_ID],
		[Inventory_ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Voucher] WITH NOCHECK ADD 
	CONSTRAINT [DF_Voucher_Complete] DEFAULT ('False') FOR [Complete],
	CONSTRAINT [PK_Voucher] PRIMARY KEY  NONCLUSTERED 
	(
		[Voucher_ID]
	)  ON [PRIMARY] 
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Bring]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Buy_Detail]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Company]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Department]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Inventory]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Lot]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Officer]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Return_]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Transaction_]  TO [Library]
GO

GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON [dbo].[Voucher]  TO [Library]
GO

