body {
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #006699;
	scrollbar-highlight-color: #006699;
	scrollbar-3dlight-color: #006699;
	scrollbar-darkshadow-color: #006699;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #006699;}
	fontface:AngsanaUPC;}
	fontsize:5;}
                   A:link       { color : #006699; text-decoration: none }
	A:active	{ color :#006699 }
	A:visited	{ color : #006699; text-decoration : none }
	A:hover	{ color : #006699; background: none }
