body {
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #0000FF;
	scrollbar-highlight-color: #0000FF;
	scrollbar-3dlight-color: #0000FF;
	scrollbar-darkshadow-color: #0000FF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #0000FF;}
                   A:link       { color : White; text-decoration: none }
	A:active	{ color : White }
	A:visited	{ color : White; text-decoration : none }
	A:hover	{ color : White; background: none }
