IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'GMessenger')
	DROP DATABASE [GMessenger]
GO

CREATE DATABASE [GMessenger]  ON (NAME = N'GMessenger_Data', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL\Data\GMessenger_Data.MDF' , SIZE = 2, FILEGROWTH = 10%) LOG ON (NAME = N'GMessenger_Log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL\Data\GMessenger_Log.LDF' , SIZE = 1, FILEGROWTH = 10%)
 COLLATE Thai_CI_AS
GO

exec sp_dboption N'GMessenger', N'autoclose', N'true'
GO

exec sp_dboption N'GMessenger', N'bulkcopy', N'false'
GO

exec sp_dboption N'GMessenger', N'trunc. log', N'true'
GO

exec sp_dboption N'GMessenger', N'torn page detection', N'true'
GO

exec sp_dboption N'GMessenger', N'read only', N'false'
GO

exec sp_dboption N'GMessenger', N'dbo use', N'false'
GO

exec sp_dboption N'GMessenger', N'single', N'false'
GO

exec sp_dboption N'GMessenger', N'autoshrink', N'true'
GO

exec sp_dboption N'GMessenger', N'ANSI null default', N'false'
GO

exec sp_dboption N'GMessenger', N'recursive triggers', N'false'
GO

exec sp_dboption N'GMessenger', N'ANSI nulls', N'false'
GO

exec sp_dboption N'GMessenger', N'concat null yields null', N'false'
GO

exec sp_dboption N'GMessenger', N'cursor close on commit', N'false'
GO

exec sp_dboption N'GMessenger', N'default to local cursor', N'false'
GO

exec sp_dboption N'GMessenger', N'quoted identifier', N'false'
GO

exec sp_dboption N'GMessenger', N'ANSI warnings', N'false'
GO

exec sp_dboption N'GMessenger', N'auto create statistics', N'true'
GO

exec sp_dboption N'GMessenger', N'auto update statistics', N'true'
GO

if( ( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) ) or ( (@@microsoftversion / power(2, 24) = 7) and (@@microsoftversion & 0xffff >= 1082) ) )
	exec sp_dboption N'GMessenger', N'db chaining', N'false'
GO

use [GMessenger]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Contact_ContactGroup]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Contact] DROP CONSTRAINT FK_Contact_ContactGroup
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Contact_User]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Contact] DROP CONSTRAINT FK_Contact_User
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_Contact_User1]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[Contact] DROP CONSTRAINT FK_Contact_User1
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_ContactGroup_User]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[ContactGroup] DROP CONSTRAINT FK_ContactGroup_User
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_UserSession_User]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[UserSession] DROP CONSTRAINT FK_UserSession_User
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_add_contact]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_add_contact]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_add_group]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_add_group]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_change_contact_group]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_change_contact_group]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_delete_contact]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_delete_contact]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_delete_group]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_delete_group]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_get_contact_group_list]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_get_contact_group_list]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_get_contact_info]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_get_contact_info]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_get_contact_list]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_get_contact_list]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_get_message]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_get_message]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_get_message_confirm]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_get_message_confirm]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_get_user_info]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_get_user_info]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_rename_group]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_rename_group]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_send_message]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_send_message]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_update_block_contact]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_update_block_contact]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_update_status]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_update_status]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_insert]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_insert]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_login]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_login]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_modify]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_modify]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_session_active_confirm]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_session_active_confirm]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_session_delete]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_session_delete]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_session_finish]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_session_finish]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_session_register]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_session_register]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[app_user_session_select_all]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[app_user_session_select_all]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Contact]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Contact]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ContactGroup]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ContactGroup]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Message]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Message]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[User]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[User]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UserSession]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[UserSession]
GO

CREATE TABLE [dbo].[Contact] (
	[UserID] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[ContactGroupCode] [varchar] (20) COLLATE Thai_CI_AS NOT NULL ,
	[DesUserID] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[Blocked] [bit] NULL ,
	[WaitForAuthorization] [bit] NULL ,
	[WaitForConfirmation] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[ContactGroup] (
	[UserID] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[ContactGroupCode] [varchar] (20) COLLATE Thai_CI_AS NOT NULL ,
	[IsOtherGroup] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Message] (
	[MsgID]  uniqueidentifier ROWGUIDCOL  NOT NULL ,
	[MsgDateTime] [datetime] NOT NULL ,
	[UserID] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[DesUserID] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[Msg] [varchar] (1024) COLLATE Thai_CI_AS NULL ,
	[Received] [bit] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[User] (
	[UserID] [varchar] (10) COLLATE Thai_CI_AS NOT NULL ,
	[UserName] [varchar] (50) COLLATE Thai_CI_AS NULL ,
	[Password] [varchar] (50) COLLATE Thai_CI_AS NULL ,
	[Enabled] [bit] NULL ,
	[NeedAuthorization] [bit] NULL ,
	[pspUserID] [varchar] (20) COLLATE Thai_CI_AS NULL ,
	[pspPassword] [varchar] (20) COLLATE Thai_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[UserSession] (
	[sesID] [uniqueidentifier] NOT NULL ,
	[UserID] [varchar] (10) COLLATE Thai_CI_AS NULL ,
	[StartSession] [datetime] NULL ,
	[LastActive] [datetime] NULL ,
	[EndSession] [datetime] NULL ,
	[Workstation] [varchar] (20) COLLATE Thai_CI_AS NULL ,
	[Status] [tinyint] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Contact] ADD 
	CONSTRAINT [PK_Contact] PRIMARY KEY  CLUSTERED 
	(
		[UserID],
		[ContactGroupCode],
		[DesUserID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[ContactGroup] ADD 
	CONSTRAINT [PK_ContactGroup] PRIMARY KEY  CLUSTERED 
	(
		[UserID],
		[ContactGroupCode]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Message] ADD 
	CONSTRAINT [DF_Message_MsgID] DEFAULT (newid()) FOR [MsgID],
	CONSTRAINT [PK_Message] PRIMARY KEY  CLUSTERED 
	(
		[MsgID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[User] ADD 
	CONSTRAINT [PK_User] PRIMARY KEY  CLUSTERED 
	(
		[UserID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[UserSession] ADD 
	CONSTRAINT [DF_UserSession_sesID] DEFAULT (newid()) FOR [sesID],
	CONSTRAINT [PK_UserSession] PRIMARY KEY  CLUSTERED 
	(
		[sesID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Contact] ADD 
	CONSTRAINT [FK_Contact_ContactGroup] FOREIGN KEY 
	(
		[UserID],
		[ContactGroupCode]
	) REFERENCES [dbo].[ContactGroup] (
		[UserID],
		[ContactGroupCode]
	) ON UPDATE CASCADE ,
	CONSTRAINT [FK_Contact_User] FOREIGN KEY 
	(
		[UserID]
	) REFERENCES [dbo].[User] (
		[UserID]
	),
	CONSTRAINT [FK_Contact_User1] FOREIGN KEY 
	(
		[DesUserID]
	) REFERENCES [dbo].[User] (
		[UserID]
	)
GO

ALTER TABLE [dbo].[ContactGroup] ADD 
	CONSTRAINT [FK_ContactGroup_User] FOREIGN KEY 
	(
		[UserID]
	) REFERENCES [dbo].[User] (
		[UserID]
	)
GO

ALTER TABLE [dbo].[UserSession] ADD 
	CONSTRAINT [FK_UserSession_User] FOREIGN KEY 
	(
		[UserID]
	) REFERENCES [dbo].[User] (
		[UserID]
	)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_add_contact
	@UserID varchar(10),
	@DesUserID varchar(10)
AS
IF NOT EXISTS (	SELECT *
		FROM Contact
		WHERE UserID = @UserID and DesUserID = @DesUserID
	  )
	INSERT INTO Contact
		(UserID, ContactGroupCode, DesUserID, Blocked, WaitForAuthorization, WaitForConfirmation)
	VALUES	(@UserID, 'Other', @DesUserID, 0, 0, 1)
ELSE
	RAISERROR ('Contact is already existing...',16,10)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_add_group
	@UserID varchar(10),
	@ContactGroupCode varchar(20)
AS
IF NOT EXISTS (	SELECT *
		FROM ContactGroup
		WHERE UserID = @UserID and ContactGroupCode = @ContactGroupCode
	  )
	INSERT INTO ContactGroup
		(UserID, ContactGroupCode, IsOtherGroup)
	VALUES	(@UserID, @ContactGroupCode, 0)
ELSE
	RAISERROR ('Contact Group is already existing...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_change_contact_group
	@UserID varchar(10),
	@DesUserID varchar(10),
	@ContactGroupCode varchar(20)
AS
IF EXISTS (	SELECT *
		FROM Contact
		WHERE UserID = @UserID and DesUserID = @DesUserID
	  )
	UPDATE Contact
	SET	ContactGroupCode = @ContactGroupCode
	WHERE UserID = @UserID and DesUserID = @DesUserID
ELSE
	RAISERROR ('Contact does not exist...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_delete_contact
	@UserID varchar(10),
	@DesUserID varchar(10)
AS
IF EXISTS (	SELECT *
		FROM Contact
		WHERE UserID = @UserID and DesUserID = @DesUserID
	  )
	DELETE Contact
	WHERE UserID = @UserID and DesUserID = @DesUserID
ELSE
	RAISERROR ('Contact does not exist...',16,10)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_delete_group
	@UserID varchar(10),
	@ContactGroupCode varchar(20)
AS
IF EXISTS (	SELECT *
		FROM ContactGroup
		WHERE UserID = @UserID and ContactGroupCode = @ContactGroupCode and IsOtherGroup = 0
	  )
	DELETE ContactGroup
	WHERE UserID = @UserID and ContactGroupCode = @ContactGroupCode and IsOtherGroup = 0	
ELSE
	RAISERROR ('Unable to delete this Contact Group...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_get_contact_group_list
	@UserID varchar(10)
AS
SELECT *
FROM ContactGroup
WHERE UserID = @UserID
ORDER BY ContactGroupCode
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_get_contact_info
	@UserID varchar(10),
	@DesUserID varchar(10)
AS
IF  EXISTS (	SELECT *
		FROM Contact
		WHERE UserID = @UserID and DesUserID = @DesUserID
	  )
	SELECT c.DesUserID, u.UserName, c.ContactGroupCode
	FROM Contact c, [User] u
	WHERE c.UserID = @UserID and c.DesUserID = @DesUserID and u.UserID = c.DesUserID
ELSE
	RAISERROR ('Contact does not exist...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_get_contact_list 
	@UserID varchar(10)
AS
SELECT c.ContactGroupCode, g.IsOtherGroup, c.DesUserID, u.UserName, c.Blocked, c.WaitForAuthorization, s.Status
FROM ContactGroup g, [User] u, Contact c left outer join UserSession s on 
	( c.DesUserID = s.UserID and DATEDIFF(n, s.LastActive, current_timestamp) <= 5 and s.EndSession is NULL )
WHERE g.UserID = @UserID and u.UserID = c.DesUserID and c.UserID = @UserID and g.ContactGroupCode = c.ContactGroupCode
ORDER BY c.ContactGroupCode ASC, c.DesUserID ASC
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_get_message
	@UserID varchar(10)
AS
BEGIN

DECLARE @CT datetime
SET @CT = current_timestamp

SELECT m.*, @CT ReceivedTimeStamp, u.UserName
FROM Message m, [User] u
WHERE m.DesUserID = @UserID and m.MsgDateTime <= @CT and m.Received = 0 and u.UserID = m.UserID

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_get_message_confirm
	@UserID varchar(10),
	@TimeStamp datetime
AS
BEGIN

UPDATE Message
SET Received = 1
WHERE DesUserID = @UserID and MsgDateTime <= @TimeStamp and Received = 0

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_get_user_info
	@UserID varchar(10)
AS
SELECT *
FROM [User]
WHERE UserID = @UserID
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_rename_group
	@UserID varchar(10),
	@oldContactGroupCode varchar(20),
	@ContactGroupCode varchar(20)
AS
IF EXISTS (	SELECT *
		FROM ContactGroup
		WHERE UserID = @UserID and ContactGroupCode = @oldContactGroupCode and IsOtherGroup = 0
	  )
	UPDATE ContactGroup
	SET	ContactGroupCode = @ContactGroupCode
	WHERE UserID = @UserID and ContactGroupCode = @oldContactGroupCode and IsOtherGroup = 0	
ELSE
	RAISERROR ('Unable to rename this Contact Group...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_send_message
	@UserID varchar(10),
	@DesUserID varchar(10),
	@Msg varchar(1024)
AS
BEGIN

IF NOT EXISTS (	SELECT *
		FROM Contact
		WHERE UserID = @DesUserID and DesUserID = @UserID and Blocked = 1
	       )
	INSERT INTO Message
		(MsgDateTime, UserID, DesUserID, Msg, Received)
	VALUES (current_timestamp, @UserID, @DesUserID, @Msg, 0)

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_update_block_contact
	@UserID varchar(10),
	@DesUserID varchar(10),
	@Blocked bit
AS
IF EXISTS (	SELECT *
		FROM Contact
		WHERE UserID = @UserID and DesUserID = @DesUserID
	  )
	UPDATE	Contact
	SET	Blocked = @Blocked
	WHERE UserID = @UserID and DesUserID = @DesUserID
ELSE
	RAISERROR ('Contact does not exist...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_update_status
	@sesID uniqueidentifier,
	@UserID varchar(10),
	@Status tinyint
AS
BEGIN

IF EXISTS (	SELECT *
		FROM UserSession
		WHERE sesID = @sesID and UserID = @UserID and
			DATEDIFF(n, LastActive, current_timestamp) <= 5 and EndSession is NULL
	  )
	BEGIN

	UPDATE UserSession
	SET	Status = @Status
	WHERE sesID = @sesID

	END
ELSE
	RAISERROR ('Specified Session is invalid or obsolete...',16,10)

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_user_insert
	@UserID varchar(10),
	@UserName varchar(50),
	@Password varchar(50),
	@NeedAuthorization bit,
	@pspUserID varchar(20),
	@pspPassword varchar(20)
AS
INSERT INTO [User]
	(UserID, UserName, Password, Enabled, NeedAuthorization, pspUserID, pspPassword)
VALUES (@UserID, @UserName, @Password, 1, @NeedAuthorization, @pspUserID, @pspPassword)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

CREATE PROCEDURE app_user_login
	@UserID varchar(10),
	@Password varchar(50),
	@WorkStation varchar(20)
AS
	IF EXISTS (	SELECT *
			FROM [User]
			WHERE UserID = @UserID and Password = @Password and Enabled = 1
		      )
		BEGIN

		DECLARE @sesID uniqueidentifier

		EXEC app_user_session_register	@UserID, @WorkStation, @sesID output

		SELECT @sesID sesID

		END
	ELSE
		RAISERROR ('Invalid User Name and/or Password or your account is disabled.',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

CREATE PROCEDURE app_user_modify
	@UserID varchar(10),
	@oldPassword varchar(50),
	@UserName varchar(50),
	@Password varchar(50),
	@NeedAuthorization bit,
	@pspUserID varchar(20),
	@pspPassword varchar(20)
AS

IF NOT EXISTS (	SELECT *
		FROM [User]
		WHERE UserID = @UserID and Password = @oldPassword
	      )
	UPDATE [User]
	SET	UserName = @UserName,
		Password = @Password,
		NeedAuthorization = @NeedAuthorization,
		pspUserID = @pspUserID,
		pspPassword = @pspPassword
	WHERE UserID = @UserID and Password = @oldPassword
ELSE
	RAISERROR('Invalid user name or password...',16,10)
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE app_user_session_active_confirm
	@sesID uniqueidentifier,
	@UserID varchar(10),
	@WorkStation varchar(20)
AS
BEGIN

DECLARE @flag bit

IF EXISTS (	SELECT *
		FROM UserSession
		WHERE sesID = @sesID and UserID = @UserID and WorkStation = @WorkStation and
			DATEDIFF(n, LastActive, current_timestamp) <= 5 and EndSession is NULL
	  )
	BEGIN

	UPDATE UserSession
	SET	LastActive = current_timestamp
	WHERE sesID = @sesID

	SET @flag = 1

	END
ELSE
	SET @flag = 0

SELECT @flag ConfirmedFlag

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE app_user_session_delete
	@sesID uniqueidentifier
AS
IF @sesID is NULL -- DELETE ALL INACTIVE SESSION
	DELETE UserSession
	WHERE EndSession is not NULL
ELSE
	DELETE UserSession
	WHERE sesID = @sesID

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE app_user_session_finish
	@sesID uniqueidentifier,
	@UserID varchar(10),
	@WorkStation varchar(20)
AS
BEGIN

IF EXISTS (	SELECT *
		FROM UserSession
		WHERE sesID = @sesID and UserID = @UserID and WorkStation = @WorkStation and
			DATEDIFF(n, LastActive, current_timestamp) <= 5 and EndSession is NULL
	  )
	BEGIN

	UPDATE UserSession
	SET	EndSession = current_timestamp,
		Status = 0
	WHERE sesID = @sesID

	END
ELSE
	RAISERROR ('Specified Session is invalid or obsolete...',16,10)

END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE app_user_session_register
	@UserID varchar(10),
	@WorkStation varchar(20),
	@sesID uniqueidentifier output
AS
BEGIN

IF EXISTS (	SELECT *
		FROM UserSession
		WHERE UserID = @UserID and DATEDIFF(n, LastActive, current_timestamp) <= 5 and EndSession is NULL
	  )
	RAISERROR ('Concurrent User Prevention...',16,10)
ELSE
	BEGIN

	DECLARE @CT datetime, @CTb datetime

	SET @CT = current_timestamp
	SET @CTb = DATEADD(ms, -1, @CT)

	IF EXISTS (	SELECT *
			FROM UserSession
			WHERE UserID = @UserID and DATEDIFF(n, LastActive, current_timestamp) > 5 and EndSession is NULL
		)
		BEGIN

		UPDATE UserSession
		SET	EndSession = @CTb
		WHERE UserID = @UserID and DATEDIFF(n, LastActive, current_timestamp) > 5 and EndSession is NULL

		END

	INSERT INTO UserSession
		(UserID, StartSession, LastActive, EndSession, WorkStation, Status)
	VALUES (@UserID, @CT, @CT, NULL, @WorkStation, 1)

	SELECT @sesID = sesID
	FROM UserSession
	WHERE UserID = @UserID and StartSession = @CT and EndSession is NULL

	END
END
GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS OFF 
GO


CREATE PROCEDURE app_user_session_select_all
	@Flag tinyint
AS
IF @Flag = 1 -- Only Active Session
	SELECT *
	FROM UserSession
	WHERE EndSession is NULL
	ORDER BY StartSession DESC, UserID ASC
ELSE IF @Flag = 2 -- Only Inactive Session
	SELECT *
	FROM UserSession
	WHERE EndSession is not NULL
	ORDER BY StartSession DESC, UserID ASC
ELSE IF @Flag = 3 -- Both
	SELECT *
	FROM UserSession
	ORDER BY StartSession DESC, UserID ASC
ELSE
	RAISERROR ('Invalid Flag...',16,10)

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

