.email {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 13px; COLOR: #000085; FONT-FAMILY: Tahoma,Ms Sans Serif; TEXT-DECORATION: none
}
A.head:link {
	COLOR: #000085; TEXT-DECORATION: none
}
A.head:visited {
	COLOR: #000085; TEXT-DECORATION: none
}
A.head:active {
	COLOR: #aba39c; TEXT-DECORATION: underline
}
A.head:hover {
	COLOR: #aba39c; TEXT-DECORATION: underline
}
.head {
	FONT-WEIGHT: bold; LIST-STYLE-POSITION: outside; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Ms Sans Serif; TEXT-DECORATION: none
}
A.head:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.head:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.head:active {
	COLOR: #aba39c; TEXT-DECORATION: underline
}
A.head:hover {
	COLOR: #aba39c; TEXT-DECORATION: underline
}
.A {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Tahoma,Ms Sans Serif; TEXT-DECORATION: none
}
A.A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.A:active {
	COLOR: #aba39c; TEXT-DECORATION: underline
}
A.A:hover {
	COLOR: #aba39c; TEXT-DECORATION: underline
}
.namepe {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 12px; COLOR: #005ca2; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.namepe:link {
	COLOR: #005ca2; TEXT-DECORATION: none
}
A.namepe:visited {
	COLOR: #005ca2; TEXT-DECORATION: none
}
A.namepe:active {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
A.namepe:hover {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
.filelink {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 18px; COLOR: #330099; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.filelink:link {
	COLOR: #330099; TEXT-DECORATION: none
}
A.filelink:visited {
	COLOR: #330099; TEXT-DECORATION: none
}
A.filelink:active {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
A.filelink:hover {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
.home {
	FONT-WEIGHT: bold; LIST-STYLE-POSITION: outside; FONT-SIZE: 14px; COLOR: #0033cc; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.home:link {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.home:visited {
	COLOR: #0033cc; TEXT-DECORATION: underline
}
A.home:active {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
A.home:hover {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
.newslink {
	FONT-WEIGHT: bold; LIST-STYLE-POSITION: outside; FONT-SIZE: 13px; COLOR: #0056ac; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.newslink:link {
	COLOR: #0056ac; TEXT-DECORATION: none
}
A.newslink:visited {
	COLOR: #0056ac; TEXT-DECORATION: none
}
A.newslink:active {
	COLOR: #0066ff; TEXT-DECORATION: underline
}
A.newslink:hover {
	COLOR: #0066ff; TEXT-DECORATION: underline
}
.help {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 11px; COLOR: #f8f8f8; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.help:link {
	COLOR: #f8f8f8; TEXT-DECORATION: underline
}
A.help:visited {
	COLOR: #f8f8f8; TEXT-DECORATION: underline
}
A.help:active {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
A.help:hover {
	COLOR: #0099ff; TEXT-DECORATION: underline
}
.a1 {
	FONT-SIZE: 1px; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.a1:link {
	COLOR: #0063c6; TEXT-DECORATION: none
}
A.a1:visited {
	COLOR: #0063c6; TEXT-DECORATION: none
}
A.a1:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A.a1:hover {
	COLOR: #3333ff; TEXT-DECORATION: none
}
.a2 {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: Tahoma,Ms Sans Serif
}
A.a2:link {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.a2:visited {
	COLOR: #ff9900; TEXT-DECORATION: none
}
A.a2:active {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
A.a2:hover {
	COLOR: #ff9900; TEXT-DECORATION: underline
}
.normal {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.d1head {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #a40000; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.detail {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.detailpe {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.detailpt {
	FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.info {
	FONT-SIZE: 9pt; COLOR: #006600; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.main {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.topic {
	FONT-SIZE: 18px; COLOR: #330099; FONT-FAMILY: Tahoma,Ms Sans Serif
}
.topic2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #990033; FONT-FAMILY: Tahoma,Ms Sans Serif
}
